<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>ADELGAZAR CON LA DIETA DE LA MANZANA</h1>
					<strong class="subHeading">La dieta de la manzana es altamente efectiva cuando lo que buscamos es perder peso en poco tiempo y lograr una linda figura.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">ADELGAZAR CON LA DIETA DE LA MANZANA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/manzanas.jpg" alt="" /></a>
									<p>De hecho, en algunos casos, podemos complementar la dieta con nuestra rutina de ejercicios y así obtener beneficios impresionantes y lograr un impacto positivo en nuestra alimentación diaria.Una manzana mediana contiene aproximadamente 81 calorías, son ricas en vitaminas y poseen una enorme cantidad de nutrientes que ayudan a acelerar nuestro metabolismo, lo cual es clave a la hora de bajar de peso. Además la manzana es una de las frutas con mayor contenido de fibras solubles e insolubles, que nos aportan una sensación de saciedad. En los últimos años, diversos estudios han demostrado el poder de la manzana para desintoxicar el organismo de toxinas. Todos estos beneficios hacen que una manzana sea el alimento ideal para mejorar su estado de salud.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<strong class="subHeading"> Dieta para la desintoxicación del cuerpo</strong>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4> MANZANAS DURANTE 2 DIAS</h4>

										<p>Si comineza esta dieta, consulte al médico primeramente para que evalúe su estado de salud. Contraindicado para las personas que sufren de altos niveles de azúcar en la sangre, enfermedades renales y mujeres embarazadas.<br><br>

										Sólo durante dos días puede realizar esta dieta, lo recomendable es hacerlo durante el fin de semana, cuando se encuentre en casa descasando de la rutina diaria, ya que con esta dieta usted tendrá menos energía debido al escaso consumo de calorías. Es muy sencillo este plan: todo lo que puede comer será manzanas, eso sí todas cuantas desea y asegúrese de ingerir mucha agua o té sin azúcar.<br><br>

										Una semana antes de comenzar esta dieta de desintoxicación, debe reducir tanto el consumo de carbohidratos como la cantidad de alimentos que come.Cuando inicie la desintoxicación, sólo podrá comer manzanas frescas, puede agregarles canela o la especia de su preferencia. Es probable que sienta fatiga y un leve dolor de estómago, esto es normal debido al cambio brusco de alimentación y pasará después de la desintoxicación. Si decide extender el plan de desintoxicación y si su médico lo aprueba, debe agregar a su dieta alimentos ricos en proteínas, además de porciones de carbohidratos.</p>

										<p><h4> 1 AL DÍA DURANTE 1 SEMANA</h4>

										<p>Este tipo de dieta está diseñada para aquellas personas que mantienen una alimentación balanceada y no necesitan perder peso, sólo buscan desintoxicar su cuerpo. Se realiza durante siete días, a continuación te explicamos cómo:<br><br>

										Para llevar a cabo este plan, todo lo que debes hacer es sustituir una de tus comidas diarias por una manzana mediana, ya sea roja o verde. Puedes consumir el resto de las comidas como lo harías normalmente, a excepción de una comida. También puedes tomar un vaso de jugo de manzana en el desayuno cada mañana, pero hecho con frutas frescas, los jugos pasteurizados que consigues en el supermercado suelen estar llenos de azúcar y por lo tanto no debes consumirlo en ningún régimen dietético.
										<br><br>

										Las personas que eligen este tipo de dieta limpiarán su cuerpo de todas las toxinas que están atrapadas en el interior y comenzarán a sentir mayor vitalidad y energía en sus actividades diarias. Si usted seleccionó este plan de dieta, puede realizarlo por un tiempo máximo de dos semanas. Luego puede repetirlo, si toma al menos un descanso de dos meses. Esto debido a la propiedad astringente de la manzana, que podría provocar resequedad en la piel.</p><p>

										<h4> MANZANAS, POLLO Y ARROZ DURANTE 9 DÍAS</h4>

										<p>La dieta de los nueve días de pollo, arroz y manzanas es un plan para perder peso rápidamente. Esta dieta te limita a consumir sólo las tres comidas mencionadas en el nombre: manzanas, pollo y arroz, por lo que no es nutricionalmente equilibrada. No incluye los productos lácteos ni los carbohidratos después de los primeros tres días. Aunque algunas personas la modifican para incluir verduras y vegetales. Este plan dietético tiene una duración de nueve días, y además de ser una dieta de desintoxicación también bajarás esos kilos de más.<br><br>

										Es importante que tenga en cuenta que esta dieta carece de algunos nutrientes, por lo que por ningún motivo debe seguir este plan durante más de nueve días, o en lugar de conseguir buenos resultados podría afectar su estado de salud. La dieta se basa en comer sólo uno de estos tres ingredientes durante tres días y luego comenzar el ciclo de nuevo.<br><br>

										Durante los nueve días del plan de esta dieta no está permitido mezclar los ingredientes o añadir otros. Debe beber mucha agua o té de hierbas, endulzado con miel si lo desea. El alcohol y la leche están absolutamente prohibidos.<br><br>

										Aunque consumir manzanas, pollo y arroz te ayudará a bajar un par de kilos, no se recomienda la dieta de la manzana si usted lo que está buscando es perder peso. Consulte a su médico antes de comenzar cualquier tipo de dieta.<br><br>

										Los defensores de la dieta del pollo, arroz y manzana aseguran que puedes perder hasta nueve kilogramos en nueve días. El arroz ayudará a limpiar tu cuerpo de toxinas. El pollo aporta proteínas, mientras que tu cuerpo quema la grasa y las manzanas o verduras reemplazan las vitaminas y los minerales, además de completar el efecto desintoxicante del arroz.<br><br>

										<h4>Plan de comidas:</h4>

										<p> los tres primeros días de la dieta sólo debes comer arroz hervido. No debes agregar ningún otro ingrediente como salsas o condimentos.<br><br>

										Entre el cuarto y sexto día de la dieta cambia al pollo, nuevamente sin agregar ingredientes. Debes hervir, grillar o asar el pollo sin la piel.<br><br>

										Durante los tres días restante sólo deberás comer manzanas. Puedes consumirlas crudas, asadas o hervidas. </p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>