<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>CHOQUE DE LA PIÑA</h1>
					<strong class="subHeading">Es un choque que lo puedes seguir dias salteados para limpiar tu organismo.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">CHOQUE DE LA PIÑA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/pina.jpg" alt="" /></a>
									<p>La piña, además de ser una fruta tropical y presumir de un estupendo sabor, contiene propiedades muy saludables para el organismo. Entra en este artículo enviado por una usuaria y disfruta de sus ventajas nutricionales.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
			
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
							
								<div class="content">

										<p><h4> DESAYUNO</h4>

											<p>Café con leche desnatada o yogurt desnatado</p>
											<p>2 biscotes integrales con configura light o queso fresco o jamón york o fiambre pavo</p>
										<p>Zumo de naranja</p>
									

										<p><h4>MEDIA MAÑANA</h4>

										<p>
											<p>Rodaja piña natural en su jugo</p>
										<p>

										<h4>COMIDA</h4>

											<p>3 o 4 rodajas de piña natural en su jugo</p>
											<p>Pechuga de pollo plancha</p>
											<p>Infusión o Té</p>
										


										<h4>MERIENDA</h4>

										
											<p>2 rodajas piña natural o en su jugo</p>
											<p>Yogurt bio desnatado</p>
										
										<h4>CENA</h4>

											<p>2 o 3 rodajas piña natural o en su jugo</p>
											<p>Huevo duro (2 claras y una yema) o en tortilla</p>
										    <p>Infusión o Té</p>
										
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>