<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE ARROZ Y FRUTA</h1>
					<strong class="subHeading">El arroz y la fruta pueden ser tus mejores aliados en esa dura batalla que te espera a la hora de perder peso. Con esta dieta basada en esos alimentos notarás grandes resultados, siempre que no te excedas del periodo previsto.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE ARROZ Y FRUTA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/peras.jpg" alt="" /></a>
									<p>No debe prolongarse el seguimiento de esta dieta durante más de un mes.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
									    <p><h4>INDICACIONES</h4>

										<p>
											<p>Es preciso cocinar 300 gramos de arroz integral a diario ya que es la cantidad de arroz que se va a consumir durante toda la jornada. Para poder cocer el arroz integral es preciso lavarlo y escurrirlo en una olla hermética con tres cantidades más de agua fría. Hay que dejar hervir este arroz a fuego lento durante 5 minutos hasta que el agua se evapore por completo.<br><br>

											Para condimentar el arroz, trata de emplear la sal, pero para las frutas si puedes utiliza la miel, el azúcar moreno o un poco de canela.<br><br>

											Esta dieta no se puede realizar por más de 30 días.</p>
										<p>

										<p><h4> DESAYUNO</h4>

									
											<p>1 jugo de naranja o manzana o pomelo.</p>
											<p>1 plato de arroz con miel</p>
											<p>Frutas cortadas en rodajas, excepto plátano y frutos secos.</p>
										

										<h4>COMIDA</h4>

											<p>1 plato de arroz con canela, ciruelas y pasas</p>
										


										<h4>MERIENDA</h4>

										<p>
											<p>1 manzana o la fruta de estación al gusto.</p>
										
										<h4>CENA</h4>

										<p>
											<p>1 pieza de fruta distinta a la de la merienda y, en caso de seguir con hambre, comer un plátano</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>