<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE CIRUELAS Y PERAS</h1>
					<strong class="subHeading">Si incluyes las ciruelas y las peras en tu dieta, notarás una mejora en tus niveles de colesterol, triglicéridos y azúcar en sangre.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE CIRUELAS Y PERAS</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/peras.jpg" alt="" /></a>
									<p>Las frutas constituyen uno de los alimentos más importantes dentro de los alimentos naturales vegetales que junto con las hortalizas proporcionan muchas vitaminas y minerales además de aportar muchos beneficios para el organismo. Es el caso de las frutas de esta dieta: la pera y ciruela.<br><br>

									Las peras ayudan a mantener los niveles de colesterol, triglicéridos y los niveles de azúcar en sangre. También son muy útiles en las dietas de adelgazamiento por su alto nivel en fibra y por ser una fruta saciante. Posee propiedades desintoxicantes y aumenta la movilidad intestinal. Y solamente aporta 54 Kcalorías por cada 100 gramos.<br><br>

									Es conocido que las ciruelas son una fruta antioxidante, ricas en fibra y en potasio. Las ciruelas frescas son grandes aliadas en las dietas para bajar de peso o para mantenerlo. Es debido a que poseen muy poca grasa y son adecuadas para evitar la obesidad. Contienen 45 Kcalorías por cada 100 gramos de porción comestible.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
									    <p><h4>INDICACIONES</h4>

										<p>
											<p>Esta dieta está especialmente ideada para personas que gozan de buena salud y necesitan bajar algunos kilos, alrededor de 1 kilo en solamente 3 días si se realiza de forma estricta.<br><br>
											Es muy importante beber la mayor cantidad de agua posible a diario.<br><br>
											Endulzar tus infusiones con sacarina.<br><br>
											Condimentar tus comidas con sal y una mínima cantidad de aceite de oliva</p>
										<p>

										<p><h4> DESAYUNO</h4>

											<p>1 infusión a elección</p>
											<p>1 tostada de pan integral con una rebanada que queso light.</p>
										

										<p><h4> MEDIA MAÑANA:</h4>

											<p>1 ciruela y 1 pera</p>

										<h4>ALMUERZO:</h4>

											<p>1 huevo duro</p>
											<p>1 taza de sopa de verduras</p>
											<p>2 ciruelas y 2 peras</p>

										<h4>MEDIA TARDE</h4>

											<p>1 ciruela y 1 pera</p>

										<h4>MERIENDA</h4>

											<p>Infusiones a elección</p>
											<p>1 yogur descremado con cereales.</p>

										<h4>CENA</h4>

											<p>Ciruelas y peras. (Podrás comer la cantidad de frutas que desees)</p>

										<h4>RECOMENDACIONES</h4>

											<p>Consulta con tu médico antes de comenzar cualquier tipo de dieta para bajar de peso.</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>