<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA FRESA</h1>
					<strong class="subHeading">Esta fruta afrodisíaca ayuda a la desintoxicación del organismo y contribuye a mejorar la calidad de la piel. </strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA FRESA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/fresas.jpg" alt="" /></a>
									<p>Las fresas son frutas que aportan pocas calorías. Se componen de agua e hidratos de carbono. 

									Considerada como fruta afrodisíaca, rica en vitamina C, propiedades terapéuticas, desintoxicantes, efecto diurético.
									<br><br>

									Cabe destacar su aporte de fibra, que mejora el tránsito intestinal. Y mejoran la calidad de la piel.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
									    <p><h4>INDICACIONES</h4>

										<p>
											<p>La cura de fresas consiste en realizar una dieta a base de esta fruta por un periodo de 3 a 5 días máximo. <br><br>

											Se comen hasta 1,5 kilos de esta fruta diariamente.<br><br> 

											Se hacen 3 comidas de 300 a 500 g. empezando con menor cantidad. <br><br>

											Puede combinarse con zumo de naranja, de uva o miel
											</p>
										<p>

										<h4>RECOMENDACIONES</h4>

											<p>Las personas de estómago delicado, las toleran mejor combinadas con yogurt.</p>
										
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>