<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA FRUTA</h1>
					<strong class="subHeading">Con la dieta de la fruta se puede adelgazar y desintoxicar el cuerpo en solo 5 días.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA FRUTA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/pina2.jpg" alt="" /></a>
									<p>Solo debe seguirse durante 5 días.<br><br>
									Beber mucha agua.<br><br>
									Tanto en el desayuno como en la merienda se debe comer fruta.<br><br>
									Se puede comer cualquier tipo de fruta.<br><br>
									Se recomiendo seguirla durante el verano.<br><br>
									Práctica algún tipo de ejercicio físico de forma regular para ayudar a eliminar grasas y tonificar el cuerpo.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>PRIMER DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Filetes de pescado al gusto (cocinado a la plancha)</p>
										<p>2 piezas de fruta</p>

										<p><h4>Cenar: </h4>

										<p>3 rodajas de queso mozarela</p>
										<p>2 piezas de fruta</p>

										<h4>SEGUNDO DIA</h4>
										<h4>Comida: </h4>

										<p>2 yogures desnatados</p>
										<p>2 piezas de fruta</p>

										<h4>Cena:</h4>

										<p>2 yogures desnatados</p>
										<p>2 piezas de fruta</p>


										<h4>TERCERO DIA</h4>
										<h4>Comida: </h4>

										<p>1 tortilla francesa</p>
										<p>2 piezas de fruta</p>

										<h4>Cena:</h4>

										<p>50 gr. de queso descremado</p>
										<p>2 piezas de fruta</p>

										<h4>CUARTO DIA</h4>
										<h4>Comida: </h4>

										<p>2 filetes de pescado a la plancha aliñado con limón</p>
										<p>2 piezas de fruta</p>

										<h4>Cena:</h4>

										<p>2 rebanadas de pan integral con queso descremado</p>
										<p>2 piezas de fruta</p>

										<h4>QUINTO DIA</h4>
										<h4>Comida: </h4>

										<p>1 lata de atún</p>
										<p>2 piezas de fruta</p>

										<h4>Cena:</h4>

										<p>2 vasos de leche desnatada</p>
										<p>2 piezas de fruta</p>


									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>