<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA NARANJA</h1>
					<strong class="subHeading">La naranja es una de las frutas más depurativa y rica en vitaminas. Esta dieta te ayudará a depurar tu organismo en solo 1 semana.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA NARANJA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/citricos.jpg" alt="" /></a>
									<p>La naranja es un fruto cítrico que tiene propiedades curativas. El ácido cítrico constituye un magnifico fármaco natural, por sus propiedades depurativas y oxidante.<br><br>

									Su gran riqueza en Vitamina C y en oligoelementos la convierte en la mejor aliada contra el estrés y la depresión. <br><br>
									Además, la naranja aporta diferentes sustancias que contribuyen a mejorar el buen estado del organismo. <br><br>
									Exactamente, el calcio que aporta facilita el buen desarrollo de los huesos de los niños.
									</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<h4>INDICACIONES</h4>

										<p>Esta dieta debe seguirse entre 5 días a 1 semana.</p>
										<p>Se tiene que beber mucha agua.</p>

										<p><h4>Desayuno:</h4>

										<p>Café o té sin azúcar</p>
										<p>Media naranja</p>

										<h4>Comida:</h4>

										<p>Media naranja</p>
										<p>1 ensalada de tomate y pepino aliñada con vinagre o limón</p>
										<p>2 huevos hervidos</p>
										<p>1 tostada de pan integral</p>

										<h4>Merienda:</h4>

										<p>Café o té sin azúcar</p>

										<h4>Cena:</h4>

										<p>Media naranja</p>
										<p>Media cabeza de lechuga aliñada con vinagre o limón</p>
										<p>150 gr. de carne</p>

										<h4>IMPORTANTE:</h4>

										<p>Los inconvenientes radican en la escasa aportación de nutrientes para el cuerpo por lo que el organismo queda desprotegido contra la anemia, el ácido fólico y las enfermedades cardiacas.</p>
										<p>A consecuencia de estos inconvenientes es muy importante seguir esta dieta durante los días indicados.</p>
										<p>Ante cualquier malestar, dejar de seguir la dieta.</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>