<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA PAPAYA</h1>
					<strong class="subHeading">La base de esta dieta es la papaya una fruta tropical rica en fibra, en vitaminas A-C-B, en calcio, hierro y fósforo.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA PAPAYA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/aguacate.jpg" alt="" /></a>
									<p>La papaya es una fruta tropical muy popular por su buen sabor y por la cantidad de propiedades saludables que contiene.<br><br>

									Esta fruta tropical ayuda a combatir el estreñimiento, agiliza cicatrizaciones externas e internas, elimina los parásitos intestinales, refuerza la inmunidad gracias a su alto contenido en Vitamina C, calma el dolor e inflamación del estómago, es útil en casos de gastroenteritis y ayuda a limpiar nuestra piel por dentro. <br><br>

									Su composición es básicamente agua aunque contiene un tanto porciento muy pequeño de azúcar. <br><br>

									También está considerada con una fruta diurética, antioxidante, digestiva y que ayuda a combatir la celulitis.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
										<h4>INDICACIONES</h4>

										<p>Esta dieta debe hacerse 2 veces a la semana durante 1 mes.</p>
										<p>Contiene 1.200 calorías diaria</p>
										<p>Beber mucha agua.</p>

										<p><h4>Desayuno:</h4>

										<p>1 vaso de leche de soja o leche desnatada con dos cucharadas de germen de trigo u otros cereales</p>
										<p>1 o 1 ½ pieza de papaya</p>

										<h4>Comida:</h4>

										<p>Ensalada de tomate, zanahoria, maíz, unas hojas de berro, lombarda, 4 aceitunas, aceite y sal</p>
										<p>Arroz integral con espinacas</p>
										
										<h4>Merienda:</h4>

										<p>1 pieza de papaya o macedonia de frutas</p>

										<h4>Cena:</h4>

										<p>1 taza de caldo de verduras</p>
										<p>1 patata asada o chipirones encebollados</p>
										<p>1 pieza de papaya</p>

										<h4>IMPORTANTE:</h4>

										<p>Si te cansas de comer papaya puede sustituirla por 5 fresas.</p>
										<p>Si te entra hambre a media mañana o a la hora de la merienda puedes comer una pieza de papaya o macedonia de frutas.</p>
										<p>Es muy importante no exceder del tiempo indicado.</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>