<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA PIÑA</h1>
					<strong class="subHeading">La piña es una de las frutas más completas que nos ha dado la madre naturaleza. Sigue la dieta de la piña durante una semana, ¡te sorprenderán los resultados!</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA PIÑA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/pina2.jpg" alt="" /></a>
									<p>La piña destaca por su delicioso sabor y su inconfundible aroma aunque conviene resaltar las propiedades tan beneficiosas para a nuestro organismo.<br><br>
									Sin duda la piña nos ayuda a:</p>

									<p>Mejora la circulación.<br><br>
									Procesa mejor los alimentos, es decir, ayuda a mejorar la digestión.<br><br>
									Elimina las bacterias causantes de putrefacciones intestinales y las lombrices intestinales.<br><br>
									Nos aporta mucha fibra.<br><br><br><br>
									Evita la formación de edemas o retención de líquidos.<br><br>
									Y sobre todo, se utiliza para tratamientos anti celulíticos.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
										<h4>INDICACIONES</h4>

										<p>El periodo máximo de esta dieta es de 7 días.</p>
										<p>Es conveniente que la piña sea natural antes que de lata o en almíbar.</p>
										<p>Beber mucha agua al día, alrededor de 2 litros.</p>

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 rodajas de piña y 1 rebanada de pan tostado con mermelada Light</p>

										<p><h4>Comida:</h4> 
										<p>1 filete de salmón a la plancha con una cucharada de aceite y 2 rodajas de piña</p>

										<p><h4>Cena: </h4>

										<p>1 pechuga de pollo, una ensalada y 2 rodajas de piña</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 yogur desnatado de piña</p>

										<p><h4>Comida:</h4> 
										<p>1 filete de ternera a la plancha y 2 rodajas de piña</p>

										<p><h4>Cena: </h4>

										<p>Crema de verduras y 2 rodajas de piña</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 rebanada de pan tostado y 1 loncha de pavo</p>

										<p><h4>Comida:</h4> 
										<p>Macarrones y 1 yogur desnatado de piña</p>

										<p><h4>Cena: </h4>

										<p>Ensalada mixta con 1 lata atún natural y vinagre de manzana y 2 rodajas piña</p>
										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 rodajas de piña y 1 rebanada de pan tostado con mermelada</p>

										<p><h4>Comida:</h4> 
										<p>1 filete de pollo o de ternera a la plancha</p>

										<p><h4>Cena: </h4>

										<p>Macedonia de fruta con: piña, naranja, kiwi, manzana y pera.</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 yogur desnatado de piña</p>

										<p><h4>Comida:</h4> 
										<p>1 filete de merluza o salmón y 2 rodajas de piña</p>

										<p><h4>Cena: </h4>

										<p>Crema de verduras y 2 rodajas de piña</p>
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 rebanada de pan tostado y 1 loncha de pavo</p>

										<p><h4>Comida:</h4> 
										<p>1 filete de pollo o de ternera a la plancha</p>

										<p><h4>Cena: </h4>

										<p>Ensalada mixta, un huevo y 2 rodajas de piña</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 rodajas de piña y 1 rebanada de pan tostado con mermelada Light</p>

										<p><h4>Comida:</h4> 
										<p>1 filete de lenguado, una ensalada mixta y 2 rodajas de piña</p>

										<p><h4>Cena: </h4>

										<p>Judías hervidas, 1 patata y 1 yogur de piña desnatado</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>