<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA REMOLACHA</h1>
					<strong class="subHeading">La dieta de la remolacha te permitirá perder peso en muy poco tiempo, siempre y cuando la respetes a rajatabla. Eso sí, consulta con tu médico antes de hacerla porque es bastante drástica y no es recomendable para personas con problemas de salud.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA REMOLACHA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/5.jpg" alt="" /></a>
									<p>La remolacha es un alimento muy enérgico por su riqueza en hidratos de carbono, con grandes propiedades nutritivas que nuestro organismo necesita. Es una hortaliza muy beneficiosa en casos de anemia, enfermedades en la sangre y convalecencia debido a su alto contenido en hierro, azúcares, vitaminas C y B, potasio y caratones. Además, también tienen un alto contenido en fibra, muy útil para vaciar el intestino y prevenir el estreñimiento. Por otro lado, es un alimento muy adecuado para las personas que sufren retención de líquidos.<br><br>

                                    La dieta de la remolacha se basa en la ingesta de alimentos bajos en grasas más un complemento natural: beber dos vasos grandes de jugo de remolacha, zanahoria y naranja antes de la comida y la cena. Su preparación es muy sencilla: exprimir 6 remolachas o betabeles, 10 zanahorias y 10 naranjas.<br><br>

									En el caso que se prefiera alargar la dieta 2 o 3 días, repetir alguno de los menús.

                                </p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<h4>INDICACIONES</h4>

										<p>La dieta de la remolacha se debe realizar durante una semana, con la posibilidad de extenderla 2 o 3 días más.</p>
										<p>Es una dieta para bajar de peso de forma rápida, hasta 6 kilos en 10 días.</p>
										<p>Es una dieta contraindicada en personas diabéticas, con enfermedades de cálculo de riñón o vesícula, o cualquier otro problema de salud.</p>

										<h4>Alimentos a consumir estrictamente:</h4>

										<p>Edulcorante</p>
										<p>Leche en polvo (2 cucharadas para cada café y 3 para cereal)</p>
										<p>Cereal de fibra o de maíz (sin azúcar)</p>

										<p>Yogur natural</p>
										<p>Mayonesa light</p>
										<p>Requesón</p>
										

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Una taza de té o café con leche descremada, dos tostadas.</p>

										<p><h4>Comida:</h4> 
										<p>Ensalada de verduras crudas y una poción de arroz integral cocido.</p>

										<p><h4>Cena: </h4>

										<p>Sopa de verduras y 1 manzana</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Yogur con cereales</p>

										<p><h4>Comida:</h4> 
										<p>Una porción de pollo asado o al horno con ensalada de lechuga y tomate.</p>

										<p><h4>Cena: </h4>

										<p>Dos patatas al horno y una fruta</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Una taza de té o café con leche descremada, dos tostadas</p>

										<p><h4>Comida:</h4> 
										<p>Filete de pescado al horno o a la plancha con ensalada de tomate.</p>

										<p><h4>Cena: </h4>

										<p>Sopa de verduras.</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Yogur con cereales</p>

										<p><h4>Comida:</h4> 
										<p>2 filetes de pollo a la plancha con ensalada de lechuga y tomate.</p>

										<p><h4>Cena: </h4>

										<p>Una porción de tarta con espinacas y acelgas</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Yogur con cereales o café con leche descremada y dos rebanadas de pan tostado.</p>

										<p><h4>Comida:</h4> 
										<p>Filete de pescado y una porción de arroz integral</p>

										<p><h4>Cena: </h4>

										<p>Patatas al horno o puré de calabaza</p>
										
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Igual que el día anterior</p>

										<p><h4>Comida:</h4> 
										<p>Filete de carne magra con 1 patata asada o hervida.</p>

										<p><h4>Cena: </h4>

										<p>Puré de verduras cocidas</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Yogur con cereales</p>

										<p><h4>Comida:</h4> 
										<p>Filete de pollo con ensalada de verduras.</p>

										<p><h4>Cena: </h4>

										<p>Ensalada de arroz, patatas, 1 huevo y un tomate.</p>
								</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>