<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA SANDÍA</h1>
					<strong class="subHeading">La sandia está considerada como una de las frutas más deliciosas y refrescantes. Ahora con la llegada del verano, esta dieta te ayudará a bajar esos kilos de más y te aportará muchas de las propiedades que pose. </strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA SANDÍA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/sandia3.jpg" alt="" /></a>
									<p>El tiempo de duración de esta dieta es entre 1 o 2 meses.</p>
									<p>Se aconseja andar 30 minutos al día o practicar algún tipo de deporte.</p>
									<p>Se puede beber café o refrescos light.</p>
									<p>Sustituye el azúcar por el edulcorante.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<h4>INDICACIONES</h4>

										<p>A media mañana siempre se tiene que comer una o dos rodajas de sandía.</p>
										<p>En la merienda se tiene que tomar un zumo de sandía.
										<p>En los platos de la comida se les puede añadir una cucharada de aceite y/o vinagre de manzana.</p>
										<p>Se aconseja cocinar los alimentos a la plancha, al vapor o al horno.
										Beber mucha agua, al menos 2 litros diarios.</p>

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Café solo o una infusión con edulcorante</p>
										<p>2 Galletas integrales</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>
										<p>Una rodaja de sandía</p>

										<p><h4>Comida:</h4> 
										<p>Un filete de ternera a la plancha</p>
										<p>Un plato de brécol o brocoli (se puede cambiar por otra verdura)</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>Un filete de lenguado o merluza a la plancha</p>
										<p>Un plato de alcachofas rehogadas con ajo</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Un café con leche desnatada sin azúcar</p>
										<p>1 Tostada de pan integral untada con un quesito light</p>

										<p><h4>Comida:</h4> 
										<p>1 Plato de coliflor u otra verdura hervida</p>
										<p>2 Muslitos de pollo al horno o pechuga a la plancha</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>1 Plato de sopa de verduras sin grasa</p>
										<p>1 Rodaja grande de pescado al horno con limón</p>
										<p>1 Yogur natural o de sabores descremado y sin azúcar</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Un café con leche descremada o una infusión sin azúcar</p>
										<p>1 Tostada de pan integral</p>
										<p>2 Lonchas o rodajas de embutido de pavo o jamón dulce</p>

										<p><h4>Comida:</h4> 
										<p>Calamares a la plancha o una rodaja de pescado</p>
										<p>Setas a la plancha, ajo y perejil o un plato de verduras</p>
										<p>1 Yogur natural o de sabores descremado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>1 Filete de pechuga de pavo a la plancha</p>
										<p>1 plato de ensalada de Lechuga, tomate, cebolla, espárragos y pepino</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Un café con leche descremada o una infusión sin azúcar</p>
										<p>2 Tostadas de pan integral untadas con un quesito light</p>

										<p><h4>Comida:</h4> 
										<p>1 Filete de ternera a la plancha</p>
										<p>1 taza de arroz integral cocido</p>
										<p>1 Yogur descremado natural o de sabores y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>Un puré de verduras</p>
										<p>Una tortilla rellena de espárragos ó espinacas</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Un café con leche descremada o una infusión sin azúcar</p>
										<p>1 Tostada de pan integral</p>
										<p>1 Loncha o rodaja de embutido de pavo o jamón dulce</p>

										<p><h4>Comida:</h4> 
										<p>1 Pechuga de pollo a la plancha</p>
										<p>1 plato de puré de calabacín y/o zanahorias</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>1 plato de puré de puerros con un poco de queso rayado</p>
										<p>1 Rodaja de merluza a la plancha con ajo, perejil y especias</p>
										<p>1 Yogur natural o de sabores descremado y sin azúcar</p>
										
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Un café con leche desnatada y sin azúcar</p>
										<p>2 Galletas integrales</p>
										<p>Una rodaja de sandia</p>

										<p><h4>Comida:</h4> 
										<p>1 Lata de atún en agua</p>
										<p>1 plato pequeño de pasa con pimientos</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>Ensalada mixta de lechuga, tomate, cebolla y espárragos</p>
										<p>Unas lonchas o rodajas de embutido de pavo</p>
										<p>150 gr. de queso de Burgos</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Un café con leche desnatada y sin azúcar</p>
										<p>Una rebanada de pan integral untada con un quesito light</p>

										<p><h4>Comida:</h4> 
										<p>2 Rodajas de merluza hervida o a la plancha</p>
										<p>Un plato de ensalada mixta: Tomate, lechuga, cebolla y zanahoria</p>
										<p>Dos cucharadas de garbanzos cocidos</p>
										<p>1 Yogur natural o de sabores desnatado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>Una tortilla francesa de 2 huevos rellena de espárragos</p>
										<p>1 Rebanada de pan</p>
										<p>1 Yogur descremado natural o de sabores azúcar</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>