<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA 911</h1>
					<strong class="subHeading">Dieta muy popular por lograr alcanzar unos espectaculares resultados ¡en muy poco tiempo! En dos semanas puedes adelgazar entre 2 y 4 kilos.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA 911</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/soya.png" alt="" /></a>
									<h4>INDICACIONES</h4>
									<p>El periodo de la dieta no puede exceder de 2 semanas continuas aunque si quieres continuar haciéndola deberás hacer una semana de dieta y la siguiente no.</p>
									<p>Se puede adelgazar de 2 a 4 kilos.</p>
									<p>Se recomienda combinar la fibra y la linaza para aumentar el poder de estas semillas.</p>
									<p>Beber mucha agua, 8 vasos diarios como mínimo.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 tostada, 1 huevo duro, café sin azúcar y 1 vaso con agua y fibra</p>

										<p><h4>Comida:</h4> 
										<p>1 pieza de pollo, 1 ensalada de lechuga, pepino y tomate con limón, 1 rebanada de pan con mermelada o un plátano y 1 vaso de agua con fibra</p>

										<p><h4>Cena: </h4>

										<p>1 tazón de leche con cereales altos en fibra</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 vaso de yogur light, 1 taza de papaya picada, 1 café negro sin azúcar y 1 vaso de agua con fibra</p>

										<p><h4>Comida:</h4> 
										<p>1 ensalada de lechuga y pepino con una lata de atún al natural, 1 pan con mermelada y 1 vaso de agua con fibra</p>

										<p><h4>Cena: </h4>

										<p>1 huevo revuelto estrellado, 1 plátano y 1 vaso de agua con fibra</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 zumo de naranja, 1 taza de papaya, 1 tostada y 1 vaso de agua con fibra</p>

										<p><h4>Comida:</h4> 
										<p>1 ensalada de lechuga y pepino, 1 milanesa a la plancha, ½ manzana y 1 vaso de agua con fibra</p>

										<p><h4>Cena: </h4>

										<p>1 plátano, jícama y pepino con limón y 1 vaso de agua con fibra</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 taza de papaya picada, 1 taza de yogur natural, 1 café negro sin azúcar y 1 vaso de agua con fibra</p>

										<p><h4>Comida:</h4> 
										<p>1 ensalada de lechuga y pepino, 1 sándwich con pan integral, jamón de pavo, queso panela y tomate, 1 cucharada de cajeta y 1 vaso de agua con fibra</p>

										<p><h4>Cena: </h4>

										<p>1 yogur natural, 1 rodaja de sandia, melón o alguna fruta de tu preferencia y 1 vaso de agua con fibra</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 huevo estrellado, 1 tostada, ½ manzana, 1 café negro sin azúcar y 1 vaso de agua con fibra</p>

										<p><h4>Comida:</h4> 
										<p>1 ensalada de lechuga con pollo y mayonesa light, 4 galletas, 1 cucharada de cajeta y 1 vaso de agua con fibra</p>

										<h4>Cena: </h4>
										<p>1 taza de cereal de fibra, 1 taza de leche, ½ plátano y 1 vaso de agua con fibra</p>
										
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 papaya, ½ taza de yogur, 1 café y 1 vaso de agua con fibra</p>
										
										<p><h4>Comida:</h4> 
										<p>1 ensalada de lechuga, pepino y zanahoria, 1 frankfurt, tomate, cebolla y kétchup, ½ plátano y 1 vaso de agua con fibra</p>

										<p><h4>Cena: </h4>

										<p>1 taza de cereal de fibra y leche, jícama con limón y 1 vaso de agua con fibra</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 crepe integral con miel, 1 taza de papaya, 1 vaso de zumo de naranja y 1 vaso de agua con fibra</p>

										<h4>Comida:</h4> 
										<p>1 ensalada de chayote, 1 hamburguesa, 1 cucharada de cajeta y 1 vaso de agua con fibra</p>

										<p><h4>Cena: </h4>

										<p>1 taza de papaya, 1 taza de cereal alto en fibra, 1 taza de leche y 1 vaso de agua con fibra</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>