<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>LA DIETA CETOGÉNICA</h1>
					<strong class="subHeading">Es un plan alimenticio bajo en carbohidratos.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">LA DIETA CETOGÉNICA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/tomates.jpg" alt="" /></a>
									<p><h4>A CONSIDERAR:</h4>
									<p> Es necesario que la dieta cetogénica se realice bajo vigilancia médica, sobre todo si se padece enfermedades relacionadas con el azúcar, los riñones y el corazón. Además, las dietas especializadas varían de acuerdo al paciente, por lo que se debe realizar un análisis previo. </p>

									<p><h4>LO BÁSICO</h4>

										<p>Las grasas determinarán el balance de calorías hasta que el cuerpo alcance el estado de cetosis. El consumo de proteínas dependerá de cada persona porque variará en relación a la cantidad de actividad física que se realice, la edad, la altura y el sexo. En cuanto a los carbohidratos, solo se permiten entre 20 y 50 gramos por día.<br><br>

										El conteo de las calorías es una importante recomendación, no es una obligación.<br><br>

										La base funcional diaria de la dieta cetogénica sugiere de 5 a 10% de carbohidratos, de 20 a 25% de proteínas y un 70-75% de grasas provenientes de las calorías.<br><br>

										Las grasas han demostrado no tener efectos secundarios sobre los niveles de insulina (azúcar) en la sangre, algo que la proteína sí hace. Esta última, se se consume en exceso, cera mucha glucosa lo que produce un aumento en la insulina y el cuerpo comienza a tener problemas.

										</p>

										<p><h4> ¿CÓMO EMPEZAR?</h4>

										<p>En relación al metabolismo, la dieta cetogénica es muy poderosa. Es necesaria una comprensión del método y del proceso antes de empezar, existen muchos libros que explican qué es y cómo funciona la dieta cetogénica, como el “New Diet Resolution” (Nueva Revolución Dietética), del Dr. Robert C. Atkins, o el “The Art and Science of Low Carbohydrate Living: An Expert Guide to Making the Life-Saving Benefits of Carbohydrate Restriction Sustainable and Enjoyable” (El Arte y la Ciencia de una Vida baja en carbohidratos) de los doctores Jeff Volek y Stephen Phinney. Estos son algunos tips que te ayudarán  a empezar la dieta cetogénica:<br><br>

										Cambie los alimentos que consumes: la idea es sacar todos los alimentos altos en carbohidratos y empezar a amoldar la despensa con alimentos de la dieta cetogénica para ayudar a que el régimen sea más llevadero, sobre todo al inicio del plan.
										<br><br>

										Más tiempo en la cocina: es necesario mentalizarse y acostumbrarse a pasar más tiempo en la cocina porque una característica de este tipo de dieta es el cocinar para comer los alimentos lo más sano y natural posible.<br><br>


										Dieta no especial, alimentos no especiales: la comida dentro de una dieta cetogénica es comida real. No hay necesidad de comprar alimentos que indiquen que son bajos en carbohidratos ni cualquier otro alimento altamente procesado, excepto la azúcar refinada que, en pequeñas cantidades, ha demostrado no ser un problema. Se deben evitar siempre los alimentos altos en carbohidratos.<br><br>


										Planificación: <br>Como recomendación, se debe planificar las comidas porque luego es más sencillo de prepararlas y esto evita caer <br>en tentaciones ricos en carbohidratos.<br><br>


										Las costumbres: Se deben cambiar los hábitos de comida y respetar los horarios establecidos para comer. La comida en casa siempre será la mejor opción.<br><br>


										Contando carbohidratos: <br>Si bien no es una obligación, contar las calorías que se consumen está altamente recomendado. Se puede llevar un diario, una aplicación en un teléfono inteligente, o cualquier herramienta que ayude a realizar el conteo. Existen varios recursos online (en línea) diseñados para este propósito.<br><br>


										Suplementos:<br> Algunos suplementos naturales están permitidos (Vitamina C, D y E; L- Carnitina; Potasio; Citrato de Magnesio; L- Glutamina, entre otros) siempre en pequeñas cantidades.<br><br>


										Agua: <br>Es muy importante mantenerse hidratado. La regla de los 6 – 8 vasos diarios se hace presente y debe realizarse y respetarse.<br><br>

										Prevenir: <br>Las ansias de un dulce que pueda alterar el azúcar se puede controlar con un poco de fuerza de voluntad. Imagina situaciones donde te encuentres fuera de casa y las posibles soluciones para no comer alimentos fuera de los permitidos en la dieta cetogénica.<br><br>

										Peso vs. Beneficios: <br>Aún cuando el propósito de la dieta sea el perder peso, centrarse en los beneficios para la salud debe ser el objetivo general. Como recomendación, no pesarse todos los días, sino realizarlo con moderación hasta alcanzar la meta y comprobar una mejoría general.

										</p>

										<h4> ¿ES PELIGROSA UNA DIETA CETOGÉNICA?</h4>

										<p>Durante mucho tiempo se pensó y se culpó a la grasa de ser la causante del aumento de peso y de múltiples enfermedades; sin embargo, la realidad ha demostrado que las grasas saturadas son buenas porque elevan el nivel de azúcar en la sangre, por lo que regulan la insulina gracias a los carbohidratos. Lo que hay es que encontrar el equilibrio entre las grasas, las proteínas y los carbohidratos, que es justamente lo que hace una dieta cetogénica. Numerosos estudios respaldan este hecho y muchos beneficios se suman a la dieta baja hidratos de carbono.<br><br>

										Por otro lado, la cetosis. Este estado en el cual el cuerpo debe encontrarse para realizar la dieta ha sido muy estudiado. Hay evidencia de que el cuerpo en cetosis estimula algunas hormonas y puede elevar los niveles de cortisol y adrenalina. Por esto es necesario que se mantenga el consumo de carbohidratos por encima de los 20 gramos diarios. La dieta cetogénica NO es una dieta de cero carbohidratos. Se recomienda siempre la supervisión médica especializada.</p>

										
										<h4>EFECTOS SECUNDARIOS:</h4>

										<p>Al principio será difícil porque los niveles de azúcar en la sangre disminuirán. La primera semana suele ser la más dura porque es la entrada al proceso de adaptación. La intensidad de los efectos secundarios variará con cada persona y dependerá de qué tan altas en carbohidratos sean sus comida y del tiempo que lleven alimentándose de esa manera.<br><br>

										Debido al cambio en el azúcar, se pueden experimentar sobrecargas de insulina y un episodio de hipoglucemia. </p>

										<h4>CONCLUSIÓN:</h4>

										<p>No existe peligro demostrado de una dieta cetogénica, al contrario, los beneficios van en aumento. Lo único que se puede considerar, serían los efectos del período de adaptación a la cetosis, de resto, la mayoría de los estudios indican que esta dieta representa una mejora en la salud, ayuda a tratar varias enfermedades y la persona siempre se sentirá mejor y más saludable. </p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
									<h4>EJEMPLO DE DIETA CETOGÉNICA</h4>

										<p><h4>Primeros días</h4></p>

										<p>Esta etapa puede extenderse en los días que sean necesarios, aunque lo recomendable es que vayan de 3 a 10.<br><br>

										Aquí, queda completamente prohibido el consumo de harinas, fruta, azúcar, salsa, alcohol y leche, además de todo aquello manufacturado. Podemos <br>consumir, sin embargo, todo tipo de carne, huevos, yogures descremados, verduras? </p>

									

										<p><h4>Segunda fase </h4></p>

										<p>Su duración debe ser proporcional a la primera y la tercera fases. <br><br>

										Aquí, a los alimentos ya permitidos, sumaremos 250 ml de leche descremada al día, aumentaremos las raciones de verdura y permitiremos el consumo de alguna fruta como la manzana o la naranja.</p>

										<p><h4>Tercera fase</h4></p>
										<p>Esta fase, de duración aproximada a las anteriores, se puede alargar un poco con el objetivo de mantener el peso perdido.<br><br>

										Aquí sumaremos a los alimentos anteriores dos raciones de pasta integral a la semana y nos permitiremos un día de total libertad.

										</p>
										
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>