<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA ATKINS</h1>
					<strong class="subHeading">Entre las numerosas dietas bajas en carbohidratos existentes, la dieta Atkins es la más popular. La diferencia entre una dieta regular y una dieta cetogénica radica en la cantidad de hidratos de carbono y proteínas que se consumen diariamente.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA ATKINS</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/proteinas.png" alt="" /></a>
									<p>El Dr. Atkins explica que al organismo le es más fácil quemar carbohidratos que proteínas, por lo tanto transforma los carbohidratos en energía y almacena las proteínas en forma de grasa. Siguiendo esta regla, si consumimos casi puras proteínas y casi nada de carbohidratos, el único suministro de energía son las reservas de grasa. Entonces para poder subsistir, el organismo gasta la grasa acumulada por las proteínas, haciéndonos bajar de peso de inmediato.<br><br>

									Se trata de una dieta fácil de seguir porque permite comer alimentos frecuentemente prohibidos en otras dietas (proteínas y grasas) y prohíbe otros que se consideran más “aburridos” como las verduras y las leguminosas.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4> INDICACIONES</h4>

										<p>La dieta Atkins marca claramente los grupos de alimentos que podremos y los que no podremos consumir:<br><br>

										Alimentos permitidos: <br>
										Casi el 90% de la dieta se basa en el consumo de proteínas y grasas, sin importar si son altas en colesterol o saturadas como: <br><br>

										carnes rojas, <br>embutidos,<br>
										huevos,<br>
										mariscos,<br>
										mantequillas, <br>margarinas, <br>aceites, <br> mayonesas,<br>
										mantecas,<br>
										cremas de leche, <br>yogur entero, <br>quesos, etc.<br><br>

										Alimentos prohibidos:<br><br>
										 El 10% restante son los carbohidratos que se obtienen de las verduras. <br><br>Deben limitarse al máximo:<br><br>

										las pastas y arroz,<br>
										pan y harinas,<br>
										arroz,<br>
										legumbres: <br>(lentejas, frijoles, habas)<br>
										azúcares,<br>
										leche,<br>
										fruta,<br>
										verduras ricas en fibra: <br>(papa, remolacha, <br>patata, zanahoria).<br><br>

										Reducir al máximo el consumo de fibra puesto que ésta impide la absorción de la grasa en el intestino. Las verduras verdes se limitan a 50 gramos por comida.
										</p>

										<p><h4> ABSTENERSE</h4>

										<p>Deben abstenerse de seguirla personas con problemas de colesterol en la familia, problemas estomacales o estreñimiento, corazón, hígado o diabetes. Antes de iniciar cualquier proceso de pérdida de peso se debe consultar con un especialista.<br><br>

										Esta dieta ha sido muy criticada por los médicos debido a lo siguiente:
										<br><br>

										1. Las grasas saturadas y proteínas altas en colesterol han demostrado ser perjudiciales para la salud; están relacionadas con enfermedades <br>específicamente cancerosas;<br>aumentan el nivel de ácido úrico, triglicéridos y colesterol, el cual se acumula en las arterias y es un peligro para el corazón; y favorecenla aparición de depósitos cristalinos en las articulaciones.<br><br>

										2. Al encontrarse despojado de carbohidratos, el cuerpo busca energía en la grasa, pero también en los músculos, provocando un desgaste muscular y fatiga. 
										<br><br>
										3. La ausencia de frutas y la aportación reducida de verduras pueden provocar una peligrosa carencia de vitaminas y minerales. 
										<br><br>
										4. La falta de fibra ocasiona problemas de estreñimiento y acumulación de desechos metabólicos. 
										<br><br>
										Al ser una dieta tan baja en carbohidratos puede provocarte mal aliento (halitosis) por dos razones: al quemar grasa liberas en el aliento “cetonas” que provocan mal olor, y los alimentos altos en proteínas producen más sulfuro en la superficie de la lengua.

										 </p>

										<h4>DIETA</h4>

										<p>La fase inicial de esta dieta es de 14 días. Durante esta primera fase deberás reducir al máximo el consumo de los productos prohibidos indicados.<br><br>

										Después de ésta, solo tendrás que realizar una dieta de mantenimiento sin aumentar en gran medida la ingesta de carbohidratos como el pan y la patata, y no deberás alargarla más de 30 días entre dieta y mantenimiento. </p>

										<h4>EJEMPLO UN DÌA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Huevos revueltos con jamón o tocino</p>
										<p>Café o té sin azúcar</p>


										<p><h4>Almuerzo:</h4> 
										<p>Un bistec con ensalada, o asado de cerdo con verduras, o trucha con espinacas, o filete de ternera recubierto de queso y tomates asados</p>

										<p><h4>Cena: </h4>

										<p>Coctel de langostinos con una tostada, o pollo asado con ensalada, o chuletas de cordero con chícharos</p>
										<p>Bebidas</p>
										<p>Agua mineral</p>
										<p>Jugos de tomate o de fruta</p>
										<p>Vino tinto</p>

									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>