<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA BRONCEADORA</h1>
					<strong class="subHeading">A todos nos gusta lucir un bonito bronceado en verano ¿Pero sabías que tu dieta puede ayudarte a conseguirlo? Te explicamos todo los detalles en este artículo.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA BRONCEADORA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/zanahoria.jpg" alt="" /></a>
									<p>La dieta bronceadora está pensada para realizarla durante los meses de verano para poder sacarle todo el partido a las frutas y verduras que nos ofrece esta estación del año, las cuales contienen muchas propiedades, entre ellas vitaminas y minerales esenciales para el cuidado de nuestra piel.<br><br>
									Es una dieta específica para potenciar el bronceado veraniego con la ventaja que permite adelgazar gracias a su bajo nivel calórico. </p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">

								<div class="content">

										<h4>INDICACIONES</h4>

										<p>Beber 2 litros de agua diarios, ayuda a eliminar toxinas y a prevenir la deshidratación.</p>
										<p>Esta dieta se tiene que seguir durante los meses veraniegos.</p>
										<p>Evitar el consumo de bebidas alcohólicas.
										<p>La duración de este plan alimenticio es libre, se puede seguir de forma semanal o mensual.</p>
										<p>La perdida de kilos va en función del metabolismo de cada persona.
										<p>Se recomienda practicar algún deporte.</p>

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 Café con leche desnatada y 1 Tostada integral con mermelada dietética</p>

										<p><h4>A media mañana::</h4> 
										<p>1 Yogur desnatado</p>

										<p><h4>Comida:</h4>

										<p>200 gramos de acelgas hervidas con un chorrito de aceite, vinagre y sal, 150 gramos e atún a la plancha con ajo y perejil, 40 gramos de pan integral y 1 Taza de té verde con limón</p>

										<p><h4>Merienda:</h4>

										<p>1 Mango</p>

										<p><h4>Cena:</h4>

										<p>Ensalada de tomate y canónigos, 125 gramos de carne magra de ternera cocida a la plancha, 40 gramos de pan integral y 1 Infusión al gusto</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 Café, 1 Tostada con queso fresco y 1 kiwi</p>

										<p><h4>A media mañana::</h4> 
										<p>1 zumo de tomate</p>

										<p><h4>Comida:</h4>

										<p>Ensalada de zanahoria rallada y apio, 100 gramos de hígado a la plancha con cebolla, 40 gramos de pan integral y Té verde con limón</p>

										<p><h4>Merienda:</h4>

										<p>1 Papaya</p>

										<p><h4>Cena:</h4>

										<p>Crema de verduras variadas, 1 tortilla con perejil, 40 gramos de pan integral y 1 Infusión al gusto</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 Café con leche desnatada y 3 Galletas integrales</p>

										<p><h4>A media mañana::</h4> 
										<p>2 Albaricoques</p>

										<p><h4>Comida:</h4>

										<p>200 gramos de judías verdes, 150 gramos de pechuga de pollo a la plancha con ajo y perejil, 40 gramos de pan integral y 1 Té con limón</p>

										<p><h4>Merienda:</h4>

										<p>1 Manzana</p>

										<p><h4>Cena:</h4>

										<p>Ensalada de tomate y pimiento, 150 gramos de lenguado, 40 gramos de pan integral y 1 Infusión al gusto</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 Tazón de cereales integrales con leche desnatada</p>

										<p><h4>A media mañana::</h4> 
										<p>1 Pomelo</p>

										<p><h4>Comida:</h4>

										<p>Ensalada de berros, tomate y cebolla, 150 gramos de sardinas a la plancha con ajo y perejil, 40 gramos de pan integral y 1 Té verde con limón</p>

										<p><h4>Merienda:</h4>

										<p>1 Yogur desnatado</p>

										<p><h4>Cena:</h4>

										<p>200 gramos de espinacas hervidas, 1 tortilla de espárragos trigueros, 40 gramos de pan integral y 1 Infusión al gusto</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 Café, 1 Yogur desnatado al gusto y 1 Macedonia</p>

										<p><h4>A media mañana::</h4> 
										<p>2 Quesitos desnatados</p>

										<p><h4>Comida:</h4>

										<p>200 gramos de champiñones salteados con ajo y perejil, 200 gramos de conejo a la brasa, 40 gramos de pan integral, 1 Té con limón</p>

										<p><h4>Merienda:</h4>

										<p>1 Mandarina</p>

										<p><h4>Cena:</h4>

										<p>Ensalada de col lombarda y lechuga, 150 gramos de pescadilla, 40 gramos de pan integral y 1 Infusión al gusto</p>
										
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 Café con leche desnatada y 1 tostada integral con mermelada dietética</p>

										<p><h4>A media mañana::</h4> 
										<p>1 kiwi</p>

										<p><h4>Comida:</h4>

										<p>1 Crema de calabaza, 125 gramos de bistec a la plancha, 40 gramos de pan integral y 1 Té verde con limón</p>

										<p><h4>Merienda:</h4>

										<p>1 Yogur desnatado</p>

										<p><h4>Cena:</h4>

										<p>Ensalada de zanahoria y pimiento, 1 Tortilla de guisantes, 40 gramos de pan integral y 1 Infusión al gusto</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 Café, 1 Yogur desnatado y 1 Macedonia</p>

										<p><h4>A media mañana::</h4> 
										<p>1 Zumo de tomate</p>

										<p><h4>Comida:</h4>

										<p>1 Gazpacho, 1 Mariscada, 40 gramos de pan integral y 1 Té verde con limón</p>

										<p><h4>Merienda:</h4>

										<p>1 Mango</p>

										<p><h4>Cena:</h4>

										<p>1 Ensalada de tomate, escarola y apio, 100 gramos de queso de Burgos, 40 gramos de pan integral y 1 Infusión al gusto</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>