<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LAS PROTEÍNAS</h1>
					<strong class="subHeading">Las proteínas son biomoléculas formadas por carbono, hidrógeno, oxígeno y nitrógeno, imprescindibles en todo ser vivo.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LAS PROTEÍNAS</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/proteinas.png" alt="" /></a>
									<p>Las proteínas son biomoléculas formadas por carbono, hidrógeno, oxígeno y nitrógeno, imprescindibles en todo ser vivo.<br><br> 
									Entre sus funciones se encuentran: <br><br>
									Ayudan en la reparación y construcción de las estructuras celulares (tejidos, uñas, músculos...)<br><br>

									Expresan la información genética<br><br>

									Desempeñan funciones metabólicas</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4> INDICACIONES</h4>

										<p>Añade a los desayunos un café o té con leche desnatada con edulcorante y a la comida y cena un café solo o infusión.<br><br>

										Cocina al vapor, plancha, horno o cocido.<br><br>

										Bebe al menos dos litros de agua al día.<br><br>

										Las mejores verduras son: acelga, apio, berenjena, judía, berro, calabacín, col, coliflor, tomate, endibia, espárrago, brécol, lechuga y champiñones.<br><br>

										Si a media mañana quieres saciar el hambre puedes elegir uno de estos alimentos:<br><br>

										Lonchas de pavo o jamón serrano y 1 café solo o infusión<br><br>
										1 infusión y un refresco de cola light
										Yogur natural o de sabores desnatado y sin azúcar<br><br>
										1 loncha de pavo o jamón y 1 refresco de cola light<br><br>
										1 infusión

										</p>

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 huevo duro o en tortilla</p>

										<p><h4>Comida:</h4> 
										<p>Filete de ternera o vaca a la plancha y 1 plato de verduras cocidas</p>

										<p><h4>Merienda: </h4>

										<p>Yogur natural o de sabores desnatado y sin azúcar</p>


										<p><h4>Cena: </h4>

										<p>Ensalada de lechuga, tomate, cebolla, pepino, espárrago, pimiento y una lata de atún</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Queso desnatado</p>

										<p><h4>Comida:</h4> 
										<p>Crema o sopa de verduras, tortilla francesa de dos huevos, ensalada de lechuga, tomate, cebolla y espárragos aliñados con sal, aceite de oliva y vinagre de manzana</p>
										<p><h4>Merienda: </h4>

										<p>1 loncha de pavo o jamón y un refresco de cola light</p>

										<p><h4>Cena: </h4>

										<p>1 filete de ternera o pollo a la plancha y 1 plato de verduras cocidas</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 loncha de jamón</p>

										<p><h4>Comida:</h4> 
										<p>Pescado a la plancha, gambas hervidas o mejillones al vapor y 1 plato de verduras cocidas</p>
										<p><h4>Merienda: </h4>

										<p>Yogur natural o de sabores desnatado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>Ensalada de lechuga, tomate, cebolla y espárragos y 2 lonchas finas de jamón o pavo</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Queso desnatado</p>

										<p><h4>Comida:</h4> 
										<p>1 filete de ternera o pollo a la plancha y 1 ensalada de lechuga, tomate, cebolla, espárrago, endibia, dos rabanitos aliñado con aceite de oliva, vinagre de manzana, sal y pimienta molida</p>

										<p><h4>Merienda: </h4>

										<p>1 infusión y 1 refresco de cola light</p>

										<p><h4>Cena: </h4>

										<p>1 plato de verduras hervidas con salsa de tomate natural y 2 rodajas de pescado cocido o a la plancha</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 huevo duro o en tortilla</p>

										<p><h4>Comida:</h4> 
										<p>Crema o sopa de verduras variadas sin grasa, 1 filete de ternera o vaca o pollo a la plancha y 1 lata de espárragos o verduras hervidas</p>

										<p><h4>Merienda: </h4>

										<p>Yogur natural o de sabores desnatado y sin azúcar</p>

										<h4>Cena: </h4>
										<p>Ensalada de apio, col, tomate, pepino y lechuga aliñada y pescado o marisco cocido o a la plancha</p>
										
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Queso desnatado</p>
										
										<p><h4>Comida:</h4> 
										<p>1 plato de verduras cocidas y 2 filetes de pescado a la plancha o cocido</p>

										<p><h4>Merienda: </h4>

										<p>1 loncha de pavo o jamón y 1 refresco de cola light</p>

										<p><h4>Cena: </h4>

										<p>1 plato de verduras hervidas y 1 tortilla francesa con dos huevos</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 loncha de jamón serrano</p>

										<h4>Comida:</h4> 
										<p>1 plato de verduras cocidas y 1 filete de ternera, vaca o pollo a la plancha</p>

										<p><h4>Merienda: </h4>

										<p>Yogur natural o de sabores desnatado y sin azúcar</p>

										<p><h4>Cena: </h4>

										<p>Ensalada de lechuga, tomate, cebolla, pepino, esparrago, pimiento y 1 lata de atún</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>