<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA PARA DIABÉTICOS II</h1>
					<strong class="subHeading">La alimentación es una parte muy importante para las personas que padecen diabetes, por ese motivo es esencial tener unas nociones básicas sobre la nutrición adecuada.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA PARA DIABÉTICOS II</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/pasta.png" alt="" /></a>
									<p>Para cuidarse bien y controlar la diabetes es importante aprender qué comer, cuánto comer y cuándo comer.<br><br>

									Los principales objetivos de la dieta en la diabetes son: <br><br>
									Sentirse mejor cada día<br><br>
									Bajar de peso, si es necesario en su caso<br><br>
									Reducir el riesgo de padecer enfermedades del corazón, derrames cerebrales y otros problemas causados por la diabetes<br><br>
									La alimentación es un elemento clave a la hora de alcanzar dichos objetivos, así pues debemos llevar una dieta equilibrada, y para que sea así debemos tener en cuenta que:<br><br>
									Sea una dieta nutricionalmente completa (dieta equilibrada)<br><br>
									Haga mantener o acercar el peso al ideal<br><br>
									Contribuya a normalizar los niveles de glucemia<br><br>
									Atenúe el riesgo cardiovascular (niveles de lípidos y tensión arterial)<br><br>
									Contribuya a mejorar el <br>curso de las complicaciones metadiabéticas si existen<br><br>
									Se adaptarse a los gustos del paciente <br><br>
									Pero además para poder lograr estos fines no nos podemos basar simplemente en los alimentos sino, que una dieta equilibrada debemos completarla con la actividad física y la medicación pertinente. <br><br>

									También debemos tener en cuenta que para llevarla a cabo debemos tener una nociones básicas de nutrición para poder llevar un control de los alimentos que injerimos y conseguir que éstos tengan los nutrientes básicos que necesitamos. Los fármacos o las inyecciones de insulina son más eficaces cuando se lleva una dieta equilibrada.

									</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4> LOS NUTRIENTES</h4>

										<p>Una dieta cuantitativamente es correcta cuando aporta la energía adecuada, permite el mantenimiento o consecución del peso ideal y aporta todas las vitaminas y minerales en cantidades no inferiores a 2/3 de los aportes dietéticos <br>recomendados.<br><br>

										En el caso del diabético estas directrices han ido variando mediante se ha ido investigando sobre la enfermedad y se han conocido más características. <br><br>

										Actualmente la Asociación Americana de diabetes (A.D.A.) recomienda personalizar el aporte de hidratos de carbono dependiendo del tipo de diabetes, el estado nutricional, el perfil lipídico, sobre todo los niveles de triglicéridos. Pero eso sí, siempre que el mayor aporte de grasa se haga en forma de ácidos grasos monoinsaturados (ácido oleico). Así pues, se recomienda: <br><br>
										La contribución porcentual de los macronutrientes a las calorías totales debe ser:<br><br>
										50- 55 % carbohidratos<br><br>
										30-35% grasas. <br><br>(15-20 % monoinsaturados y 10-15% poliinsaturada)<br><br>
										10-15 % proteínas.</p>

										<p><h4> DISTRIBUCIÓN DE LOS NUTRIENTES EN LOS ALIMENTOS</h4>

										<p> Desde hace años los nutricionistas de han basado en el programa de clasificación de los alimentos por grupos que creó el programa de Educación en la Alimentación y Nutrición (EDALNU) en los años sesenta. Aunque esta rueda de alimentos ha ido variado con el paso del tiempo para adecuarse a los nuevos hábitos alimenticios, finalmente se establecerían 6 grupos, (alimentos se agrupan según su contenido en los principales nutrientes). <br><br>
										Hidratos de carbono: productos derivados de los cereales, patatas, azúcar<br><br>
										Lípidos: mantequilla, aceites y grasas en general<br><br>
										Proteínas: productos de origen lácteo<br><br>
										Proteínas: cárnicos, huevos y pescados, legumbres y frutos secos)<br><br>
										Hortalizas y verduras<br><br>
										Fruta<br><br>
										Una dieta equilibrada debe aportar: <br><br>
										4-6 porciones/día: pan, pasta, cereales, patatas, legumbres<br><br>
										3-4 porciones/día: verduras y hortalizas<br><br>
										2-3 porciones/día: frutas<br><br>
										2-3 porciones/día 1: lácteos<br><br>
										2-4 porciones/día: carnes, huevos, pescados<br><br>
										40-60 gramos/día de grasa</p>

										<h4> CANTIDADES (CALORÍAS)</h4>

										<p>Para planear la dieta más adecuada para nuestro cuerpo debemos tener en cuenta la cantidad de calorías que debemos ingerir al día. Éstas variarán según nuestro sexo y constitución. Así: <br><br>

										<p><h4>De 1.200 a 1.600 calorías al día si se es:</h4></p>

										<p>Una mujer de talla pequeña que hace ejercicio<br><br>
										Una mujer de talla pequeña a mediana que quiere bajar de peso<br><br>
										Una mujer de talla mediana que no hace mucho ejercicio</p>

										<p><h4>De 1.600 a 2.000 calorías al día si se es:</h4></p>

										<p>Una mujer de talla grande que desea bajar de peso<br><br>
										Un hombre de talla pequeña que tiene un peso saludable<br><br>
										Un hombre de talla mediana que no hace mucho ejercicio<br><br>
										Un hombre de talla mediana a grande que desea bajar de peso</p>

										<p><h4>De 2.000 a 2.400 calorías al día si se es:</h4></p>

										<p>Un hombre de talla mediana a grande que hace mucho ejercicio, o que tiene un trabajo que requiere mucha actividad física<br><br>
										Un hombre de talla grande que tiene un peso saludable<br><br>
										Una mujer de talla mediana a grande que hace mucho ejercicio, o que tiene un trabajo que requiere mucha actividad física </p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>