<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DEL VERANO</h1>
					<strong class="subHeading">El verano en el mediterráneo suele ser cálido. Por ello te mostramos la dieta del verano basada en verduras y frutas propias de la estación.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DEL VERANO</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/griego2.png" alt="" /></a>
									<p>DLa alimentación mediterránea está basada en las costumbres milenarias de los habitantes de la cuenta del Mediterráneo.<br><br>
									No se debe ingerir bollería o dulces.<br><br>
									Beber 2 litros de agua al día.<br><br>
									Si no toleras algún alimento puedes sustituirlo por uno semejante.<br><br>

									Las características que presenta esta alimentación son:<br><br>

									Bajan en grasas saturadas<br><br>
									Alta en grasas mono insaturadas<br><br>
									Balanceada en ácidos grasos polisaturados (Omega-6 y Omega-3)<br><br>
									Baja en proteína animal<br><br>
									Rica en antioxidantes<br><br>
									Rica en fibras<br><br>

									Para conseguir una alimentación sana y saludable se deben ingerir los siguientes componentes y hábitos alimentarios característicos de la dieta mediterránea:<br><br>

									Frutas y verduras <br><br>
									Alimentos frescos<br><br>
									Aceite de oliva como principal fuente de grasa<br><br>
									Cereales, pan y pastas<br><br>
									Legumbres, semillas, nueces y frutos secos<br><br>
									Productos lácteos<br><br>
									Huevos<br><br>
									Pescado<br><br>
									Aves<br><br>
									Carnes rojas<br><br>
									Vino (consumo moderado)<br><br>
									Especias y condimentos variados: limón, vinagre, ajo, hierbas aromáticas, menta, orégano, canela...</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4> INDICACIONES</h4>

										<p>En el desayuno se puede elegir entre: <br><br>
										Infusión con leche desnatada<br><br>
										Zumo de naranja natural sin azúcar<br><br>
										Manzana asada<br><br>
										Taza de frutas<br><br>
										Macedonia sin azúcar<br><br>

										Durante la media mañana se puede ingerir: <br><br>
										Zanahoria, tomate, melocotón, pomelo...<br><br>

										En la merienda o a media tarde: <br><br>
										1 o 2 piezas de fruta (kiwis, sandía, melón, manzana...)</p>

										<p><h4>PRIMER DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Pastel de gelatina con verduras</p>
										<p>Ensalada de lechuga y apio aliñada con sal y aceite</p>
										<p>Gelatina ligera o yogur desnatada</p>

									
										<p><h4>Cena: </h4>

										<p>Arroz integral con zanahoria rallada y brotes de soja con tomate natural</p>
										<p>Gelatina ligera o yogur desnatada</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Pastel de verduras o caldo vegetal</p>
										<p>Ensalada de lechuga, zanahoria rallada, apio, una rodaja de piña aliñada con sal y limón o vinagre</p>
										<p>Gelatina ligera o yogur desnatada</p>
										

										<p><h4>Cena: </h4>

										<p>Arroz integral con zanahoria rallada y brotes de soja</p>
										<p>Gelatina ligera o yogur desnatada</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Panaché de verduras al gusto</p>
										<p>Gelatina ligera o yogur desnatada</p>

										<p><h4>Cena: </h4>

										<p>Salpicón de atún al natural, con cebolla, repollo, tomate, ajos tiernos y lechuga aliñado con sal, aceite y vinagre</p>
										<p>Gelatina ligera o yogur desnatada</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Ensalada de lechuga con tomate, radicheta, sal y vinagre o limón</p>
										<p>1 tomate</p>
										<p>Gelatina ligera o yogur desnatada</p>
										

										<p><h4>Cena: </h4>

										<p>Caldo de verduras</p>
										<p>Salpicón de ave con tomate, cebolla, ajos tiernos, lechuga, sal, aceite de oliva y vinagre</p>
										<p>Gelatina ligera o yogur desnatada</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Pastel de verduras</p>
										<p>Arroz integral con tomate natural</p>
										<p>Gelatina ligera o yogur desnatada</p>

										
										<p><h4>Cena: </h4>

										<p>Ensalada de lechuga con zanahoria</p>
										<p>2 zapatillos rellenos con queso blanco, cebolla y queso rallado</p>
										<p>Gelatina ligera o yogur desnatada</p>
										
										<h4>SEXTO DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Revuelto de zapatillos con huevo</p>
										<p>Gelatina ligera o yogur desnatada</p>

									
										<p><h4>Cena: </h4>

										<p>250 gr. de puré de calabaza</p>
										<p>Gelatina ligera o yogur desnatada</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Comida:</h4> 

										<p>Pescado al horno o a la plancha</p>
										<p>Ensalada de radicheta con berros, lechuga y apio</p>
										<p>Gelatina ligera o yogur desnatada</p>

										<p><h4>Cena: </h4>

										<p>Pastel de verduras</p>
										<p>Revuelto de arvejas con la clara de un huevo y tomate natural</p>
										<p>Gelatina ligera o yogur desnatada</p>

								</div>
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
										</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>