<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA MEDITERRÁNEA EQUILIBRADA</h1>
					<strong class="subHeading">La dieta mediterránea equilibrada se puede seguir como un plan de adelgazamiento o como una dieta de mantenimiento. </strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA MEDITERRÁNEA EQUILIBRADA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/10.jpg" alt="" /></a>
									<p>La dieta mediterránea es el modelo de alimentación basado en una idealización de patrones dietéticos de algunos países del mediterráneo, especialmente España, Italia, Grecia y Malta.<br><br>
									Su característica principal es el consumo de productos vegetales (frutas, verduras, legumbres, frutos frescos, pan y cereales) y el aceite de oliva como principal fuente de grasa. Además, cabe destacar el elevado consumo de aves y pescados y la ingesta regular de vino en cantidades moderadas.<br><br>
									El modelo alimenticio mediterráneo se puede resumir en los siguientes consejos:<br><br>
									Utilizar el aceite de oliva como principal grasa de adición.<br><br>
									Consumir alimentos vegetales en abundancia: frutas, verduras, legumbres y frutos secos.<br><br>
									El pan y los alimentos procedentes de cereales deberían formar parte de la alimentación diaria.<br><br>
									Los alimentos poco procesados, frescos y locales son los más adecuados.<br><br>
									Consumir diariamente productos lácteos, principalmente yogur y quesos.
									La carne roja tendría que consumirse con moderación y si se puede ser como parte de guisados y otras recetas.<br><br>
									Consumir pescado en abundancia y huevos con moderación.<br><br>
									El agua es la bebida por excelencia en el Mediterráneo. El vino se ha de tomar con moderación y con las comidas.<br><br>
									Realizar actividad física todos los días.<br><br>
									A continuación te mostramos un menú semanal de la dieta mediterránea equilibrada. También puedes crear tu propia dieta siguiendo los consejos antes mencionados para poder combinar y variar tu alimentación. </p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<h4>RECOMENDACIONES:</h4>
										<p>No es conveniente abusar del pan.<br><br>
										Es recomendable no ingerir bollería ni dulces.<br><br>
										Si no toleras algún alimento puedes sustituirlo por uno semejante.<br><br>
										Recuerda beber dos litros de agua diarios, te ayudará a depurar el organismo y a saciar la sensación de hambre.
										</p>

										<p><b>DESAYUNAR y MERENDAR</b><br> Elegir entre:</p>

										<p><h4> Menú 1:</h4>

										<p>Café o té con leche desnatada<br><br>
										Galleta o tostada untada con queso blanco</p>

										<p><h4>Menú 2:</h4>

										<p>Frutas al gusto</p>

										<h4> Menú 3:</h4>

										<p>Café o té<br><br>
										1 yogur desnatado</p>

										<p>Para <b>ALMORZAR</b> se puede escoger entre:</p>
										<p><h4> Menú 1:</h4>

										<p>1 ensalada vegetal y pollo a la plancha (sin piel)</p>

										<p><h4>Menú 2:</h4>

										<p>1 ensalada vegetal y pescado al gusto</p>

										<h4> Menú 3:</h4>

										<p>Espaguetis con salsa de tomate</p>

										<h4> Menú 4:</h4>

										<p>Ensalada de verduras y un bistec a la plancha</p>

										<p><h4>Menú 5:</h4>

										<p>Ensalada de verduras y filetes de pollo a la plancha</p>

										<h4> Menú 6:</h4>

										<p>Frutas al gusto (máximo una vez a la semana)</p>

										<h4> Menú 7:</h4>

										<p>Ensalada vegetal y atún al gusto (preferiblemente a la plancha o al horno)</p>

										<p>Para <b>CENAR</b> se puede optar entre:</p>
										<p><h4> Menú 1:</h4>

										<p>Ensalada de espárragos y palmitos con limón</p>

										<p><h4>Menú 2:</h4>

										<p>Brócoli con limón con aceite de oliva virgen</p>

										<h4> Menú 3:</h4>

										<p>Ensalada de zanahoria rallada y huevo</p>

										<h4> Menú 4:</h4>

										<p>Ensalada de verduras frescas</p>

										<p><h4>Menú 5:</h4>

										<p>Ensalada de tomate y frutas</p>

										<h4> Menú 6:</h4>

										<p>Huevos rellenos de atún y salsa rosa</p>

										<h4> Menú 7:</h4>

										<p>Caldo de verduras y coles de bruselas</p>


									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>