<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA NATURAL</h1>
					<strong class="subHeading">Dieta equilibrada basada en siete menús diferentes.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA NATURAL</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/11.jpg" alt="" /></a>
									<p><h4>RECOMENDACIONES:</h4>
										<p>Si padece alguna enfermedad debe ajustar la dieta a su problema de salud, le aconsejamos que acuda al médico antes de comenzarla.<br><br>No se puede suprimir el aceite de oliva.<br><br>
										Tomar gran cantidad de verduras, ensaladas y frutas.<br><br>
										Consumir a diario yogur y queso.<br><br>
										Sustituir el azúcar por sacarina.<br><br>
										Beber dos litros de agua al día.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 quesitos de dieta<br><br>
										20 gr. de jamón<br><br>
										1 kiwi<br><br>
										1 yogur natural<br><br>
										Café solo, té o infusión</p>

										<p><h4>Comida:</h4> 
										<p>Ensalada completa:<br> Col lombarda, lechuga, pimiento, apio, tomate, aceite y vinagre o limón<br><br>
										Pollo con calabacín<br><br>
										90 gr. de almendras</p>

										<p><h4>Cena: </h4>

										<p>Crema de calabacín<br><br>
										Mejillones al vapor<br><br>
										1 yogur natural desnatado</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 quesitos de dieta<br><br>
										Medio tomate con atún en aceite<br><br>
										1 yogur natural<br><br>
										Café solo o cortado o infusión</p>

										<p><h4>Comida:</h4> 
										<p>Espárragos y envidias aliñadas con aceite o con una cucharada de mayonesa<br><br>
										Lomo de cerdo o cordero o ternera a la plancha acompañado con champiñones<br><br>
										20 almendras y café o infusión</p>

										<p><h4>Cena: </h4>

										<p>Crema de calabacín<br><br>
										Gambas o camarones a la plancha o hervidas acompañadas de lechuga<br><br>
										1 yogur natural</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>Tortilla de espinacas<br><br>
										Zanahorias<br><br>
										1 yogur natural<br><br>
										Café o infusió</p>

										<p><h4>Comida:</h4> 
										<p>1Verdura al tiempo<br><br>
										Pescado azul a la plancha<br><br>
										1 yogur natural</p>

										<p><h4>Cena: </h4>

										<p>Ensalada variada<br><br>
										Bacalao con cebolla<br><br>
										1 trozo de piña natural</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 quesitos de dieta<br><br>
										1 yogur natural<br><br>
										Fresones<br><br>
										Café solo o cortado, o té o infusión</p>

										<p><h4>Comida:</h4> 
										<p>Champiñones salteados con ajo y perejil<br><br>
										Filete de pavo a la plancha con pimientos asados<br><br>
										20 almendras, café o infusión</p>

										<p><h4>Cena: </h4>

										<p>Cogollos con anchoas o atún<br><br>
										Tortilla de verduras<br><br>
										1 yogur desnatado</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 quesitos de dieta<br><br>
										2 tostadas de pan integral<br><br>
										1 kiwi<br><br>
										Café o infusión</p>

										<p><h4>Comida:</h4> 
										<p>Tomate con queso fresco con aceite y orégano<br><br>
										Calamares o sepia a la plancha<br><br>
										Fresones o fruta</p>

										<h4>Cena: </h4>
										<p>Pimiento, berenjena y cebolla asados<br><br>
										Pescado blanco a la plancha, al horno o hervido<br><br>
										1 yogur desnatado</p>
																				
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 tostadas de pan integral<br><br>
										Jamón de pavo<br><br>
										1 yogur natural<br><br>
										Café o infusión</p>
										
										<p><h4>Comida:</h4> 
										<p>Alcachofas o alcauciles al horno con un picadillo de ajo, perejil y jamón<br><br>
										Pescado azul a la plancha acompañado con zanahoria rallada<br><br>
										1 trozo de piña natural</p>

										<p><h4>Cena: </h4>

										<p>Judías o arvejas verdes con tomate crudo y atún o pescado ahumado o palitos de cangrejo<br><br>
										1 yogur con fresones o con piña natural</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 yogur natural<br><br>
										1 pieza de fruta<br><br>
										2 quesitos de dieta<br><br>
										Café o infusión</p>

										<h4>Comida:</h4> 
										<p>1 taza de caldo con trozos de pollo y queso rallado<br><br>
										Conejo a la plancha con tomates al horno<br><br>
										Fresones</p>

										<p><h4>Cena: </h4>

										<p>Crema o puré de verduras<br><br>
										Pulpo a la gallega<br><br>
										Manzana al horno o hervida</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>