<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA CHINA</h1>
					<strong class="subHeading">La dieta tradicional china se caracteriza por ser muy saludable, ya que es baja en contenido graso y rica en vegetales y fruta lo que nos aporta una gran cantidad de antioxidantes que contribuyen a prevenir enfermedades.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA CHINA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/salmon.png" alt="" /></a>
									<p>Estamos acostumbrados a ir a restaurantes chinos en los que podemos degustar platos con variedad de carnes: cerdo, pollo, pavo, ternera...<br><br>

									Pero esta no es realmente la comida tradicional china.<br><br>

									La dieta tradicional china se caracteriza por ser muy saludable, ya que es baja en contenido graso y rica en vegetales y fruta, lo que nos aporta una gran cantidad de antioxidantes que contribuyen a prevenir enfermedades.<br><br>

									La dieta que proponemos a continuación está pensada para aquellas personas que deseen alimentarse bien y, por qué no, bajar algunos quilitos.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<strong class="subHeading"> Dieta para la desintoxicación del cuerpo</strong>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4> DESAYUNO</h4>

										<p>1 vaso de zumo de zanahoria<br><br>
										2 tostadas de pan integral con queso fresco
										</p>

										<p><h4> ALMUERZO</h4>

										<p>1 yogur descremado</p>

										<h4> COMIDA</h4>

										<p>arroz salteado con verduras<br><br>
										100grs de pollo asado

										<h4>CENA:</h4>

										<p>1 batido de zanahoria<br><br>
										1 manzana<br><br>
										1 taza de té verde

										</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>