<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA SOJA</h1>
					<strong class="subHeading">La dieta de la soja es un original régimen donde se puede llegar a bajar hasta 5 kilos en un mes.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA SOJA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/soya.png" alt="" /></a>
									<p>El origen de la soja proviene del sudeste asiático. Es una legumbre de la familia de las papilionáceas, a la que pertenecen también las judías, los guisantes o las lentejas. La soja contiene proteínas, lípidos, glúcidos y minerales. Los minerales principales que contiene son calcio, zinc y hierro. Además es una fuente de fibra soluble e insoluble.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
										<h4>INDICACIONES</h4>

										<p>Esta dieta debe seguirse durante 2 semanas, descansar unos cuantos días, y volver a empezar hasta completar el mes.</p>
										<p>Beber 2 litros de agua al día.</p>

										<p>A <B>MEDIA MAÑANA</B> se puede elegir entre uno de estos alimentos:</p>
										<p>Pomelo<br><br>
										Ensalada de frutas<br><br>
										Pera<br><br>
										Té o café con leche desnatada con edulcorante<br><br>
										Yogur natural liviano con cereal<br><br>
										1 vaso licuado de piña y pera con agua<br><br>
										1 galleta de arroz con queso descremado<br><br>
										1 emparedado de pan integral con queso y jamón</p>

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 tostadas de pan integral con queso descremado<br><br>
										1 taza de café negro o con leche descremada y edulcorante</p>

										<p>1 ensalada de patatas, tomates, berro con aceite de oliva, sal y limón<br><br>
										2 milanesas de carne de soya al horno<br><br>
										Gelatina ligera</p>

										<p><h4>Media tarde: </h4>

										<p>1 taza de café con leche descremada con edulcorante<br><br>
										2 tostadas de pan integral untadas con mermelada ligera</p>

										<p><h4>Cena: </h4>

										<p>1 ensalada de zanahorias cocidas y calabaza<br><br>
										1/2 pechuga de pollo a la plancha<br><br>
										1 manzana</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 yogur natural</p>

										<p><h4>Comida:</h4> 
										<p>1 porción de estofado de verduras<br><br>
										1 porción de arroz integral con brotes de soja<br><br>
										1 pera</p>

										<p><h4>Media tarde: </h4>

										<p>2 tostadas de pan integral con queso descremado<br><br>
										1 taza de té de hierbas con edulcorante
										</p>

										<p><h4>Cena: </h4>

										<p>1 filete de pescado a la plancha<br><br>
										1 porción de puré de calabaza<br><br>
										1 ensalada de frutas</p>

										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>2 galletas de soda con mermelada<br><br>
										1 vaso de zumo de naranja<br><br>
										1 taza de té con edulcorante</p>

										<p><h4>Comida:</h4> 
										<p>1 ensalada de tomate, zanahoria y queso descremado<br><br>
										1 taza grande de sopa de verduras<br><br>
										2 tortas de carne de soja</p>

										<p><h4>Media tarde: </h4>

										<p>1 vaso de licuado de durazno con agua y edulcorante</p>

										<p><h4>Cena: </h4>

										<p>1 ensalada de frutas con 2 cucharadas de yogur natural liviano<br><br>
										1 plato de ravioles de verdura con salsa de tomate natural</p>

										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 taza de leche descremada con edulcorante<br><br>
										1 emparedado de pan integral con queso, tomate y lechuga</p>

										<p><h4>Comida:</h4> 
										<p>1 paste de vegetales<br><br>
										1 huevo duro<br><br>
										1 pera</p>

										<p><h4>Media tarde: </h4>

										<p>1 tazón de leche con cereales altos en fibra</p>

										<p><h4>Cena: </h4>

										<p>1 taza de té, café negro o con leche descremada con edulcorante<br><br>
										2 galletas de arroz con mermelada</p>

										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 taza de café o té con edulcorante<br><br>
										1 porción pequeña de flan casero</p>

										<p><h4>Comida:</h4> 
										<p>1 ensalada de pepino y remolacha<br><br>
										1 tazón de sopa de puerro y zanahoria<br><br>
										2 tortas de carne de soja con queso</p>

										<p><h4>Media tarde: </h4>

										<p>1 taza de té con leche descremada y edulcorante<br><br>
										1 porción de pastel de manzana</p>

										<h4>Cena: </h4>
										<p>1/2 pechuga de pollo a la plancha<br><br>
										1 ensalada de arroz integral con arvejas y queso<br><br>
										1 manzana asada con edulcorante</p>
										
										<h4>SEXTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 yogur natural descremado mezclado con dados de frutas</p>
										
										<p><h4>Comida:</h4> 
										<p>1 ensalada de patatas con piña<br><br>
										2 milanesas de carne de soja al horno<br><br>
										1 ensalada pequeña de frutas</p>

										<p><h4>Media tarde: </h4>

										<p>1 racimo pequeño de uvas</p>

										<p><h4>Cena: </h4>

										<p>1 ensalada de lechuga, tomate, zanahoria, huevo, atún y cebolla<br><br>
										1 yogur natural con cereal</p>

										<h4>SEPTIMO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 vaso de licuado de durazno con leche desnatada y edulcorante<br><br>
										2 galletitas de soda con queso descremado</p>

										<h4>Comida:</h4> 
										<p>3 cucharadas de picadillo de zapatillos y arvejas con un huevo duro<br><br>
										1 tazón de arroz integral con brotes de soja</p>

										<p><h4>Media tarde: </h4>

										<p>1 ensalada de frutas con yogur natural descremado</p>

										<p><h4>Cena: </h4>

										<p>2 canelones ricota con salsa de tomate natural<br><br>
										1 porción de gelatin</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>