<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA TAOÍSTA</h1>
					<strong class="subHeading">Para el taoísmo la comida es un factor clave para salud. Descubre su filosofía y veras como puedes perder peso bajo las leyes de la naturaleza.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA TAOÍSTA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/vegetariano.png" alt="" /></a>
									<p>El taoísmo proviene del chino, este término suele ser interpretado como "vía" o "camino", o de manera más abstracta como "sentido".<br><br>

									La esencia de la filosofía taoísta se encuentra en el Dao De Jing (un libro que relata el pensamiento Taoísta), donde se pretende llegar a alcanzar la inmortalidad entendiéndola como longevidad plena a través de las tres virtudes fundamentales del taoísmo: la paz, la tranquilidad y el silencio.<br><br>

									La dieta taoísta está vinculada a la medicina tradicional chica, en encontrar el bienestar general del organismo y la armonía interna del cuerpo así como fortalece el aparato digestivo, excretor, circulatorio y respiratorio. Esta dieta relaciona los cinco sabores básicos de la naturaleza: dulce (tierra), salado (agua), agrio (madera), amargo (fuego) y el picante (metal).<br><br>

									La dieta taoísta sostiene que los alimentos deben combinarse y consumirse de acuerdo a la estación del año y al clima vigente para evitar sufrir problemas digestivos.<br><br>

									Los alimentos más adecuados según la estación del año son:
									Invierno: Alimentos cálidos y tonificantes como las carnes rojas condimentadas con especias picantes, cereales, legumbres, nueces, morrones y pimienta. Evitando los alimentos fríos.<br><br>

									<b>Primavera:</b> Alimentos tibios, livianos y fáciles de digerir, es decir, el consumo de vegetales verdes y brotes, los sabores dulces pero evitando los ácidos.<br><br>

									<b>Verano:</b> Consumir frutas, verduras y cereales. Alimentos fáciles de asimilar y poco dulces.<br><br>


									<b>Otoño:</b> Los alimentos deben ser tibios, carnes y pescados y deben evitarse el café, los morrones y el alcohol. Tampoco es bueno abusar de las frutas y las verduras crudas.
								</p>
																	

								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 café o té sin azúcar<br><br>
										2 tostadas de pan integral con manteca<br><br>
										1 banana</p>

								
										<p><h4>Media mañana: </h4>

										<p>Uvas</p>

										<p><h4>Comida: </h4>

										<p>1 ensalada mediana de verduras con aceite de oliva, limó y ajo<br><br>

										1 jugo de zanahoria</p>

										<p><h4>Merienda: </h4>

										<p>1 manzana</p>

										<p><h4>Cena: </h4>

										<p>1 porción de pescado al vapor con salsa de jengibre<br><br>
										1 porción de verduras mixtas salteadas<br><br>
										1 ensalada de verduras<br><br>
										1 taza de té
										</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 café o té sin azúcar, 2 higos secos y un puñado de almendras</p>

								
										<p><h4>Media mañana: </h4>

										<p>Ciruelas</p>

										<p><h4>Comida: </h4>

										<p>1 plato de frutas variadas (uvas, manzanas, peras y ciruelas)<br><br>
										1 puñado de nueces<br><br>
										1 taza de té
										</p>

										<p><h4>Merienda: </h4>

										<p>1 pera</p>

										<p><h4>Cena: </h4>

										<p>1 bistec con pimienta<br><br>
										1 porción de verduras mixtas salteadas<br><br>
										1 ensalada pequeña de verduras<br><br>
										1 taza de té<br><br>
										</p>


										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 jugo de naranja recién exprimido y 1 pomelo</p>

								
										<p><h4>Media mañana: </h4>

										<p>1 manzana</p>

										<p><h4>Comida: </h4>

										<p>1 pechuga de pollo cocida<br><br>
										1 porción de verduras mixtas al vapor<br><br>
										Ensalada pequeña de verduras<br><br>
										1 puñado de almendras
										</p>

										<p><h4>Merienda: </h4>

										<p>Uvas a su gusto</p>

										<p><h4>Cena: </h4>

										<p>1 ensalada mediana de verduras con aceite de oliva, limón y ajo<br><br>
										1 puñado de nueces<br><br>
										1 jugo de zanahoria
										</p>


										<h4>CUARTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 vaso de leche<br><br>
										
										1 plato de frutas variadas (uvas, manzanas, peras y ciruelas)</p>

								
										<p><h4>Media mañana: </h4>

										<p>1 pera</p>

										<p><h4>Comida: </h4>

										<p>1 puñado de almendras y jugo de zanahoria para beber</p>

										<p><h4>Merienda: </h4>

										<p>Ciruelas a su gusto</p>

										<p><h4>Cena: </h4>

										<p>1 porción de arroz integral con perejil<br><br>

										1 porción de verduras mixtas salteadas
										<br><br>
										1 té</p>


										<h4>QUINTO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 café o té<br><br>
										2 higos<br><br>
										1 banana</p>

								
										<p><h4>Media mañana: </h4>

										<p>1 manzana</p>

										<p><h4>Comida: </h4>

										<p>1 plato de frutas variada (uvas, manzanas, peras y ciruelas)<br><br>
										1 jugo de zanahorias</p>

										<p><h4>Merienda: </h4>

										<p>1 pera</p>

										<p><h4>Cena: </h4>

										<p>1 porción de camarones salteados con ajo y jengibre<br><br>
										1 porción de brócoli salteado con semillas de sésamo<br><br>
										1 ensalada pequeña de verduras<br><br>

										1 té
										<br><br>

									    El <b>SEXTO</b> y <b>SEPTIMO</b> día puedes repetir cualquier de los menús excepto el quinto. Cuando hayas aprendido los fundamentos del taoísmo podrás crear tus propios menús y conseguir mantener tu peso ideal.

									</p>

									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>