<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE 2.500 CALORÍAS</h1>
					<strong class="subHeading">A continuación te mostramos dos menús saludables para que consigas ganar peso.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE 2.500 CALORÍAS</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/proteinas.png" alt="" /></a>
									<p><h4>OBSERVACIONES</h4></p>
									<p>Antes de acostarte tomar un vaso de leche caliente con miel acompañado con unas galletas tipo maría.<br><br>
									Los tentempiés de media mañana y media tarde no deben ser muy abundantes para llegar con hambre a las comidas principales.<br><br>
									Las comidas principales deben acompañarse siempre con pan.<br><br>
									Estos menús aportan alrededor de 2.500 calorías.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">
										<p><h4>INDICACIONES</h4></p>
									<p>Comer cinco o seis veces al día
									Si tienes ganas de picar te aconsejamos que ingieras frutos secos y zumos.<br><br>
									Beber de 2 a 3 litros de agua diarios.<br><br>
									Los alimentos más ricos en calorías son las patatas, arroces, cereales, salsa, sopas y legumbres.<br><br>
									Es importante incluir en nuestra alimentación frutas y verduras.</p>

										<p><h4> MENÚ 1</h4>
											<h4> Desayuno:</h4></p>

										<p>Copos de avena, muesli o cereales con leche o leche de almendras<br><br>

										Tostadas con aceite y jamón, o con un poco de mantequilla y mermelada
										Café o infusión con leche endulzada con miel o azúcar moreno<br><br>

										1 pieza de fruta
										</p>

										<p><h4>Media mañana: (A elegir)</h4></p>
										<p>Zumo y/o café o infusión endulzada con miel o azúcar moreno<br><br>
										Rebanadas de pan con mantequilla y mermelada o crema de cacahuete<br><br>
										Sándwich de jamón y queso<br><br>
										Bocadillo de atún con mayonesa y lechuga<br><br>
										Frutos secos</p>

										<p><h4>Comida:</h4></p>
										<p>Pasta, legumbres con patata o arroz<br><br>
										Huevos en tortilla, revueltos, rellenos o carne cocinada a elección<br><br>
										Una porción de ensalada aderezada con aceite o mayonesa<br><br>
										Queso o postre a elección<br><br>
										Pan<br><br>
										Café o infusión</p>

										<p><h4>Media tarde:</h4></p>
										<p>Se tendrán en cuenta las mismas opciones que para la media mañana</p>

										<p><h4>Cena:</h4></p>
										<p>Sopa de verduras y patata o crema de legumbres<br><br>
										Pescado cocinado al gusto con patatas o arroz<br><br>
										Cuajada con miel<br><br>
										Pan</p>

										<p><h4> MENÚ 2</h4>
											<h4> Desayuno:</h4></p>

										<p>1 pieza de mango con 1 taza de yogur y 3 cucharadas de granola<br><br>
										1 huevo ranchero acompañado de ½ taza de salsa de tomate<br><br>
										1 tortilla de maíz<br><br>
										1 cucharadita de aceite<br><br>
										½ taza de frijoles refritos<br><br>
										½ pieza de pan dulce
										</p>

										<p><h4>Media mañana:</h4></p>
										<p>1 taza de helado de chocolate<br><br>
										1 barrita de granola</p>

										<p><h4>Comida:</h4></p>
										<p>1 taza de crema de verduras<br><br>
										1 taza de sopa de pasta o arroz a la mexicana<br><br>
										90 gr. de picadillo<br><br>
										2 tortillas<br><br>
										1 patata al horno con 1 cucharadita de crema y 1 cucharadita de queso rallado<br><br>
										1 ensalada de hojas verdes con ¼ de taza de cacahuetes picados y 2 cuchadas de vinagreta
										<br><br>
										1 taza de flan napolitano</p>

										<p><h4>Merienda:</h4></p>
										<p>1 taza de malteada<br><br>
										4 galletas saladas con queso crema</p>

										<p><h4>Cena:</h4></p>
										<p>2 rebanadas de pizza vegetariana<br><br>
										1 pieza de plátano</p>
										</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>