<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DEL CULTURISMO</h1>
					<strong class="subHeading">Te propones dos menús, el primero para personas que se inician en el mundo del culturismo y necesitan adaptar su cuerpo y el segundo para deportista expertos en esta disciplina deportiva.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DEL CULTURISMO</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/vegs.jpg" alt="" /></a>
									<p>El culturismo es un tipo de deporte basado en el ejercicio físico intenso. Consiste en el entrenamiento con pesas que se realizar en gimnasios cuyo objetivo es obtener un cuerpo muy definido, voluminoso y musculado.<br><br>
									Para sus practicantes, los culturistas, este deporte es un estilo de vida basada en el ejercicio físico y una alimentación sana y muy saludable. <br><br>
									Los culturistas suelen centrarse en tres acciones:<br><br>
									El <b>entrenamiento</b> con pesas.<br><br>
									La <b>alimentación</b>, basada en una dieta especifica con altos niveles de carbohidratos, proteínas y grasas.<br><br>
									En un <b>descanso</b> apropiado para facilitar el crecimiento.</p>

									<p>Ten en cuenta que el <b>Menú nº 1</b> deben realizarlas personas que se inician al culturismo y necesitan moldar su cuerpo a este deporte. En cambio, <b>el Menú nº2</b> es para personas ya consideras culturistas.<br><br>
									Suplementos naturales: Té verde, garcinia gambonia, chitosan, glucamano, hinojo, tríbulus, alcachofa y cola de caballo.</p>

								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>INDICACIONES</h4></p>
										
										<p>Beber mucha agua, alrededor de 3 litros diarios.<br><br>
										También es recomendable beber bebidas energéticas.<br><br>
										Comer entre 5 y 6 veces al día.<br><br>
										No comer dulces, bollería industrial ni consumir bebidas alcohólicas.</p>

										<p><h4> MENÚ 1</h4>
											<h4> Desayuno:</h4></p>
											<p>100 gr. de cereales con yogur desnatado<br><br>
										 	1 pieza de fruta
										</p>

										<p><h4>Media mañana: </h4></p>
										<p>2 rebanadas de pan tostado con 4 rodajas de fiambre de pechuga de pavo o pollo</p>

										<p><h4>Comida:</h4></p>
										<p>Pasta hervida (espaguetis o macarrones) con carne magra picada y una cucharada de salsa de tomate<br><br>
										1 ensalada</p>

										<p><h4>Merienda:</h4></p>
										<p>30 gr. de proteína de suero (en forma de batido en polvo)<br><br>
										20 gr. de frutos secos</p>

										<p><h4>Cena:</h4></p>
										<p>200 gr. de pescado blanco o azul<br><br>
										1 ensalada o verduras</p>

										<p><h4> MENÚ 2</h4>
											<h4> Desayuno:</h4></p>

										<p>8 claras de huevo<br><br>
											4 rebanadas de pan integral con tomate<br><br>
											1 pieza de fruta
										</p>

										<p><h4>Media mañana:</h4></p>
										<p>300 gr. de pasta hervida<br><br>
											300 gr. de pechuga de pollo</p>

										<p><h4>Comida:</h4></p>
										<p>300 gr. de arroz<br><br>
										1 ensalada completa<br><br>
										300 gr. de pescado azul "atún"<br><br>
										1 pieza de fruta<br><br>
										1 yogur desnatado</p>

										<p><h4>Merienda:</h4></p>
										<p>30 gr. de proteínas de suero (en forma de batido en polvo)<br><br>
										1 pieza de fruta</p>

										<p><h4>Cena:</h4></p>
										<p>300 gr. de arroz<br><br>
										300 gr. de pechuga de pollo<br><br>
										1 yogur desnatado<br><br>
										1 plátano</p>

										<p><h4>Después del entrenamiento:</h4></p>
										<p>1 plátano<br><br>
										5 gr. de creatina<br><br>
										20 gr. de frutos secos
										</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>