<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA PARA AUMENTAR MASA MUSCULAR</h1>
					<strong class="subHeading">Esta dieta te indica las pautas para conseguir masa muscular combinándola con un entrenamiento diario y una nutrición específica para obtener los resultados deseados.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA PARA AUMENTAR MASA MUSCULAR</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/pasta.png" alt="" /></a>
									<p>De hecho, en algunos casos, podemos complementar la dieta con nuestra rutina de ejercicios y así obtener beneficios impresionantes y lograr un impacto positivo en nuestra alimentación diaria.Una manzana mediana contiene aproximadamente 81 calorías, son ricas en vitaminas y poseen una enorme cantidad de nutrientes que ayudan a acelerar nuestro metabolismo, lo cual es clave a la hora de bajar de peso. Además la manzana es una de las frutas con mayor contenido de fibras solubles e insolubles, que nos aportan una sensación de saciedad. En los últimos años, diversos estudios han demostrado el poder de la manzana para desintoxicar el organismo de toxinas. Todos estos beneficios hacen que una manzana sea el alimento ideal para mejorar su estado de salud.<br><br>

									Ten en Cuenta:<br><br>

									Para obtener los resultados deseados debes ser constante y acudir cada día al gimnasio.<br><br>
									La tabla de ejercicios debe estar elaborada por un profesional.<br><br>
									Se debe beber mucha agua y bebidas energéticas especificas para este tipo de dietas.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>INDICACIONES</h4></p>
										
										<p>En este tipo de dietas es muy importante hacer como mínimo 5 comidas al día, pudiendo añadir una sexta después de entrenar.<br><br>

										Se aconseja comerse un plátano después de cada entrenamiento, para recuperar el potasio perdido por el esfuerzo físico.<br><br>

										Los batidos de proteínas son recomendables para aumentar volumen.</p>

										<p><h4> MENÚ DIARIO</h4>
											<h4> Desayuno:</h4></p>
											<p>8 claras de huevo<br><br>
											4 rebanadas de pan integral con tomate<br><br>
											1 pieza de fruta
										</p>

										<p><h4>Media mañana: </h4></p>
										<p>300 gr. de pasta hervida<br><br>
										300 gr. de pechuga de pollo</p>

										<p><h4>Comida:</h4></p>
										<p>300 gr. de arroz<br><br>
										1 ensalada completa<br><br>
										300 gr. de pescado azul (atún)<br><br>
										1 pieza de fruta<br><br>
										1 yogur desnatado</p>

										<p><h4>Merienda:</h4></p>
										<p>1 batido<br><br>
										1 pieza de fruta</p>

										<p><h4>Después de entrenar:</h4></p>
										<p>300 gr. de arroz 3 delicias<br><br>
										300 gr. de pechuga de pollo<br><br>
										1 yogur desnatado<br><br>
										1 plátano</p>

										<h4>Cena:</h4>
										<p>220 gr. de frutos secos<br><br>
										1 plátano</p>
										

									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>