<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA PARA SUBIR DE PESO SALUDABLEMENTE</h1>
					<strong class="subHeading">Si eres de las personas preocupadas por tu delgadez esta es la dieta que debes seguir.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA PARA SUBIR DE PESO SALUDABLEMENTE</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/pollo.png" alt="" /></a>
										<p><h4>INDICACIONES</h4></p>
										
										<p>Menú semanal.<br><br>
										Conseguirás subir de peso de forma saludable.<br><br>
										Beber mucha agua, mínimo 8 vasos al día.<br><br>
										Añade pan a los comidas principales.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

									

										<p><h4> LUNES</h4>
											<h4> Desayuno:</h4></p>
											<p>1 yogur natural con miel o azúcar, cereales, fruta de temporada o con frutos secos
										</p>

								
										<p><h4>Comida:</h4></p>
										<p>Plato de lentejas, huevos al gusto con lechuga y queso</p>

										<p><h4>Merienda:</h4></p>
										<p>1 bocadillo de jamón serrano</p>

										<p><h4>Cena:</h4></p>
										<p>Crema de zanahoria, nuggets de bacalao y 1 zumo de frutas</p>

										<p><h4> MARTES</h4>
											<h4> Desayuno:</h4></p>

										<p>1 vaso de leche semidesnatada con chocolate, pan tostado con aceite de oliva y tomate natural y 1 zumo de frutas
										</p>

										
										<p><h4>Comida:</h4></p>
										<p>Ensalada de aguacate y albóndigas a la jardinera</p>

										<p><h4>Merienda:</h4></p>
										<p>Plátano en trozos con chocolate caliente</p>

										<p><h4>Cena:</h4></p>
										<p>Sopa juliana, pollo frito con tomate natural y uvas</p>

										
										<p><h4> MIÉRCOLES</h4>
											<h4> Desayuno:</h4></p>
											<p>1 café con leche semidesnatada, galletas con mermelada y 1 zumo de naranja
										</p>
							
										<p><h4>Comida:</h4></p>
										<p>Arroz con verduras, pollo con manzana y 1 yogur de frutas</p>

										<p><h4>Merienda:</h4></p>
										<p>1 pan con paté y 1 zumo de frutas</p>

										<p><h4>Cena:</h4></p>
										<p>Fresas con kiwi y queso fresco, calamares a la roma y 1 pera</p>

										<p><h4> JUEVES</h4>
											<h4> Desayuno:</h4></p>

										<p>1 café con leche semidesnatada, pan tostado con mantequilla y miel y 1 zumo de frutas
										</p>
							
										<p><h4>Comida:</h4></p>
										<p>Ensalada de verduras con una porción de carne y queso y durazno en almíbar</p>

										<p><h4>Merienda:</h4></p>
										<p>Plato de fruta con yogur</p>

										<p><h4>Cena:</h4></p>
										<p>Huevo y espinacas con tomates sherry y 1 flan</p>

										
										<p><h4> VIENRES</h4>
											<h4> Desayuno:</h4></p>
											<p>1 yogur natural, cereales y 1 plátano
										</p>

										
										<p><h4>Comida:</h4></p>
										<p>Ensalada de legumbres, salmón con puré de patata y 1 kiwi
										</p>

										<p><h4>Merienda:</h4></p>
										<p>Requesón con miel</p>

										<p><h4>Cena:</h4></p>
										<p>Pechuga de pollo y verduras y 1 vaso de leche semidesnatada</p>

										<p><h4> SÁBADO</h4>
											<h4> Desayuno:</h4></p>

										<p>1 café con leche semidesnatada, churros y 1 zumo de naranja
										</p>
									
										<p><h4>Comida:</h4></p>
										<p>Patatas guisadas al gusto, pescado al horno con ensalada y 2 mandarinas</p>

										<p><h4>Merienda:</h4></p>
										<p>Pan con aceite de oliva y tomate natural y 1 vaso de leche semidesnatada</p>

										<p><h4>Cena:</h4></p>
										<p>Puré de patatas, filetes de lomo y 1 rodaja de piña natural</p>

										
										<p><h4> DOMINGO</h4>
											<h4> Desayuno:</h4></p>

										<p>1 café con leche semidesnatada, 1 trozo de pan y 1 zumo de frutas
										</p>

										<p><h4>Comida:</h4></p>
										<p>Paella de marisco, ensalada mixta y 1 natilla</p>

										<p><h4>Merienda:</h4></p>
										<p>1 yogur con frutos secos</p>

										<p><h4>Cena:</h4></p>
										<p>Sopa de tortilla, pescado al horno con patatas y 1 pera</p>

									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>