<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE ELIMINACIÓN</h1>
					<strong class="subHeading">Dieta vegetariana cuyo principal objetivo es la depuración del organismo.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE ELIMINACIÓN</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/vegetariano.png" alt="" /></a>
									<p>Ten en cuenta que:<br><br>

									Al ser una dieta de eliminación es muy importante beber mucha agua y seguir la dieta tal cual.<br><br>
									Esta dieta está indicada para personas vegetarianas.</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<strong class="subHeading"> Dieta para la depuracion del cuerpo</strong>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>INDICACIONES</h4></p>
										
										<p>Esta dieta es ideal para desintoxicar el organismo.
										Se debe realizar entre 1 y 3 días a la semana.
										Es recomendable seguirla después de fin un de semana con excesos.<br><br>
										<b>Alimentos que ayudan a la eliminación:</b><br><br>
										Beber de dos a tres litros de agua diarios<br><br>
										Comer manzanas, pomelos, kiwis, piña, endibias, lechuga, espinacas, berros y zanahoria.<br><br>
										Ingerir zumos de naranja y de uva natural.</p>

										<p><h4> DIETA</h4>
											<h4> Desayuno:</h4></p>
											<p>Té o infusión con una rodaja de limón con un poco de azúcar o miel liquida.<br><br>
											Zumo de fruta natural de pomelo, naranja, mandarina, pera o manzana.
										</p>

										<h4>Almuerzo: </h4>
										<p>Sopa de verduras<br><br>
										Macedonia de frutas o zumo de tomate<br><br>
										Ensalada verde aliñada con limón<br><br>
										Yogur descremado o infusión</p>

										<p><h4>Merienda:</h4></p>
										<p>Yogur natural descremado</p>
								
										<p><h4>Cena:</h4></p>
										<p>1 taza de sopa<br><br>
										1 plato de verduras frescas o hervidas al vapor con
										Queso fresco</p>

									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>