<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA NATURISTA</h1>
					<strong class="subHeading">La dieta naturista rechaza en gran medida los alimentos procedentes del reino animal y configura una dieta basada en productos de origen vegetal.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA NATURISTA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/11.jpg" alt="" /></a>
									<p>Esta dieta es perfecta para los poco amantes de la carne puesto que su característica principal es la creación de un menú a base de alimentos de origen vegetal. Sin embargo, no se puede considerar una dieta completamente vegetariana puesto que incluye alimentos como el pescado que muchos vegetarianos también rechazan en sus menús diarios.<br><br>

									La clave de esta dieta consiste en eliminar las grasas animales al máximo para depurar el organismo y conseguir una alimentación más ligera. Con ella podrás perder entre 2 y 3 kilos por semana siguiendo un menú estructurado para realizar durante 15 días.</p>

									<p><h4>OBSERVACIONES:</h4></p>

									<p>Esta dieta no es adecuada para niños o adolescentes porque sus necesidades de hierro, calcio y vitaminas no quedarían suficientemente cubiertas. Es por ello que se recomienda consultar antes de iniciarla con un médico que adecuará la dieta a sus necesidades.</p>


								

								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>INDICACIONES</h4></p>
										
										<p>La dieta naturista rechaza los alimentos procedentes del reino animal y configura una dieta basada únicamente en productos de origen vegetal. Partiendo de esta norma podemos marcar un listado de alimentos prohibidos y otros de prohibidos que nos ayudarán a seguir mejor nuestra dieta:</p>
										<p><b>Alimentos prohibidos</b><br><br>
										Azúcar.<br><br>
										Grasas.<br><br>
										Sal.<br><br>
										Carnes y embutidos.<br><br>
										Mariscos.<br><br>
										Alcohol, aunque se permite cerveza y vino sin alcohol.</p>

										<p><b>Alimentos permitidos</b><br><br>
										Frutas.<br><br>
										Verduras y hortalizas.<br><br>
										Legumbres.<br><br>
										Arroz integral.<br><br>
										Pan, cereales, tortas y suflés de harina integral.<br><br>
										Carne de soja o hesitan al horno o a la plancha.<br><br>
										Huevos cocidos.<br><br>
										Queso sin sal.<br><br>
										Yogurt desnatado.<br><br>
										Frutos secos tostados pero no fritos.<br><br>
										Cremas para untar sin grasas ni sal. <br><br>
										Para los postres diarios se puede tomar fruta fresca o cocida.
									    </p>


										<p><h4> LUNES (Día de la fruta)</h4>
											
											<p>A lo largo de este día se debe comer cada 3 horas toda la fruta que se desee ya sea a trozos, en jugo, compota, licuada o al horno. Se permite acompañarla con una rebanada de pan integral con crema de queso blanco descremado.
										</p>

									
										<p><h4> MARTES (Día de los vegetales)</h4>
											<h4> Desayuno:</h4></p>
											<p>Un yogurt descremado con copos de arroz de trigo 
										</p>

										<h4>Almuerzo y Cena: </h4>
										<p>Vegetales crudos o al vapor acompañados de fruta de postre.</p>

										<p><h4>Merienda:</h4></p>
										<p>Un vaso de zumo de tomate acompañado de dos galletas integrales con queso blanco.</p>
								
										<p><h4> MIÉRCOLES (Día de frutas y vegetales)</h4>
											<h4> Desayuno:</h4></p>
											<p>Una gruesa rebanada de pan integral con queso blanco. 
										</p>

										<h4>Almuerzo y Cena: </h4>
										<p>Combinar vegetales y frutas crudas o cocidas.  
									    </p>

										<p><h4>Merienda:</h4></p>
										<p>Medio tomate con queso ricotta.</p>

										<p><h4> JUEVES (Día del menú para armar)</h4>
											<h4> Desayuno:</h4></p>
											<p>Un té de hierbas con una galleta de arroz 
										</p>

										<h4>Almuerzo y Cena: </h4>
										<p>Repartir en cada comida como mejor lo desee siempre cada 3 horas: <br><br>
										6 tomates, 2 plátanos, 2 platos de sopa acompañados de avena integral y arroz hervido con queso rallado. </p>

										<p><h4>Merienda:</h4></p>
										<p>Un yogurt desnatado con trocitos de frutas y nueces.</p>
								
										<p><h4> VIERNES (Día de la ensalada)</h4>
											<h4> Desayuno:</h4></p>
											<p>Café de malta con una tostada de queso 
										</p>

										<h4>Almuerzo y Cena: </h4>
										<p>Ensalada con todo lo que se quiera añadir del grupo de alimentos permitidos. Por ejemplo: zanahorias, rúcula, tomate, pepino, huevo duro, pimiento, etc. </p>

										<p><h4>Merienda:</h4></p>
										<p>Un zumo de frutas con una galleta.</p>
								
										<p><h4>SÁBADO (Día del pescado)</h4>
											<h4> Desayuno:</h4></p>
											<p>Un yogurt desnatado con copos de maíz 
										</p>

										<h4>Almuerzo y Cena: </h4>
										<p>Una ensalada con tomate acompañada de arroz integral y dos filetes de pescado a la plancha.</p>

										<p><h4>Merienda:</h4></p>
										<p>Un vaso de leche desnatada con una galleta integral. </p>
								
										<p><h4>DOMINGO (Día de la pasta)</h4>
											<h4> Desayuno:</h4></p>
											<p>Un yogurt desnatado con copos de maíz
										</p>

										<h4>Almuerzo: </h4>
										<p>Un plato de pasta integral con salsa de tomate natural, albahaca y ajo acompañado con brócoli.</p>

										<p><h4>Merienda:</h4></p>
										<p>Un vaso de leche desnatada con una galleta integral. </p>
								
										<p><h4>Cena:</h4></p>
										<p>Un plato de verduras hervidas acompañado de soja.</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>