<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA CARRERA</h1>
					<strong class="subHeading">Dieta instantánea para personas sanas que quieren bajar de peso en poco tiempo para acudir algún acontecimiento especial. </strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA CARRERA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/proteinas.png" alt="" /></a>
									<p><h4>INDICACIONES</h4></p>

									<p>Esta dieta debe seguirse durante solo 3 días.<br><br>
									Cada día se puede llegar a perder 500 gramos.<br><br>
									Beber mucha agua, al menos 8 vasos al día.<br><br>
									Después de terminar esta dieta te aconsejamos que sigas una de mantenimiento para no recuperar el peso perdido.<br><br>
									Si estas tomando medicamentos o tienes alguna enfermedad antes de iniciar cualquier dieta consulta antes con tu medico.<br><br>
									Es muy importante que sigas las indicaciones.
								</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<strong class="subHeading"> Dieta para bajar peso en 3 días</strong>
					<span><em> </em></span>
					</div>
					
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>PRIMER DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 tortilla de dos claras de huevo y vegetales<br><br>
										Café, té o leche descremada</p>

								
										<p><h4>Media mañana: </h4>

										<p>Media naranja</p>

										<p><h4>Comida: </h4>

										<p>200 gr. de carne de res o pollo asado<br><br>
										Ensalada de tomate y lechuga aliñada con zumo de limón y sal</p>

										<p><h4>Merienda: </h4>

										<p>Té o café y una manaza u otra fruta</p>

										<p><h4>Cena: </h4>

										<p>Tortilla de tres claras de huevo y una yema con vegetales<br><br>
										200 gr. de habichuelas o frijoles
										</p>

										<h4>SEGUNDO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 tortilla de dos claras de huevo y vegetales<br><br>
										Café, té o leche descremada</p>
								
										<p><h4>Media mañana: </h4>

										<p>Media naranja</p>

										<p><h4>Comida: </h4>

										<p>Ensalada de lechuga y tomate aderezada con zumo de limón con una cucharada de aceite de oliva y sal<br><br>
										200 gr. de chuleta de cordero o pollo asado<br><br>
										200 gr. de zumo de tomate
										</p>

										<p><h4>Merienda: </h4>

										<p>1 fruta pequeña</p>

										<p><h4>Cena: </h4>

										<p>200 gr. de habichuelas verdes o frijoles<br><br>
										Repollo y calabazas tiernas<br><br>
										Media taza de salsa de manzana u otra fruta
										</p>


										<h4>TERCERO DIA</h4>
										<p><h4>Desayuno:</h4> 

										<p>1 tortilla de dos claras de huevo y vegetales<br><br>
										Café, té o leche descremada</p>
										
										<p><h4>Media mañana: </h4>

										<p>Media naranja</p>

										<p><h4>Comida: </h4>

										<p>2 tostadas de pan<br><br>
										200 gr. de pollo o pescado asado<br><br>
										Ensalada
										</p>

										<p><h4>Merienda: </h4>

										<p>1 manzana<br><br>
										Té, café o soda de dieta</p>

										<p><h4>Cena: </h4>

										<p>200 gr. de pollo o pescado asado<br><br>
										1 tomate asado<br><br>
										Ensalada<br><br>
										4 ciruelas secas u otra fruta
										</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>