<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LOS 10 DÍAS</h1>
					<strong class="subHeading">La dieta de los 10 días es un tipo de dieta disociada con un plan alimenticio muy repetitivo y sacrificado pero se puede llegar a bajar entre 4 y 5 kilos.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LOS 10 DÍAS</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/pollo.png" alt="" /></a>
									<p><h4>INDICACIONES</h4></p>

									<p>Únicamente se puede seguir este plan durante 10 días.<br><br>
									Se consigue adelgazar entre 4 y 5 kilos.<br><br>
									Se pueden consumir las cantidades que uno desee.<br><br>
									A partir de cuarto día se puede añadir un yogur en el desayuno y en la merienda.<br><br>
									Se puede combinar caldo de verduras o gelatina light para saciar el hambre.<br><br>
									Beber dos litros de agua para evitar la deshidratación.<br><br>
									Dieta aconsejada para personas que gozan de buena salud y que no padecen ninguna enfermedad.<br><br>
									Se puede combinar con aerobic para quemar las grasas y facilitar la perdida de kilos. <br><br>
									Dieta recomendada para después de épocas navideñas en las que se tiende a comer más de la cuenta.
								</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programas</h1>
					<strong class="subHeading"> Dieta para la desintoxicación del cuerpo</strong>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>DESAYUNO Y MERIENDA</h4>

										<p>1 café o té<br><br>
										1 yogur desnatado</p>

										<p><h4>DÍA 1</h4>

										<p>Solo frutas</p>

										<p><h4>DÍA 2</h4>

										<p>1 tortilla de dos claras de huevo y vegetales<br><br>
										Café, té o leche descremada</p>
										
										<p><h4>DÍA 3</h4>

										<p>Pescado o pollo preferiblemente a la plancha o al horno</p>
										
										<p><h4>DÍA 4</h4>

										<p>Frutas y verduras</p>
										
										<p><h4>DÍA 5</h4>

										<p>Pescado o pollo preferiblemente a la plancha o al horno</p>
										
										<p><h4>DÍA 6</h4>

										<p>Pescado o pollo preferiblemente a la plancha o al horno</p>
										
										<p><h4>DÍA 7</h4>

										<p>Pescado o carne de vacuno preferiblemente a la plancha</p>
										
										<p><h4>DÍA 8</h4>

										<p>Pescado o carne de vacuno preferiblemente a la plancha</p>
										
										<p><h4>DÍA 9</h4>

										<p>Arroz integral o lentejas</p>
										
										<p><h4>DÍA 10</h4>

										<p>Arroz integral o lentejas</p>

									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>