<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE EMERGENCIA</h1>
					<strong class="subHeading">Se empieza con un desayuno abundante para recargar energía y no llegar con hambre al resto de comidas del día; así resulta más fácil seguir la dieta sin que se produzcan pequeñas excepciones.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE EMERGENCIA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/vegs.jpg" alt="" /></a>
									<p>Esta dieta basa su eficacia en la distribución de los alimentos a lo largo del día en función del gasto energético que realiza el cuerpo en cada momento. Se empieza con un desayuno abundante sin ser excesivo para recargar energía y prepararse para el día. De esta manera no se llega con hambre al resto de comidas del día y resulta más fácil seguir la dieta sin que se produzcan pequeñas “excepciones”.<br><br>

									La dieta de la emergencia permite prácticamente todos los alimentos de forma que se puede seguir durante un par de semanas e incluso un mes. Contiene proteínas, frutas y verduras en cantidades equilibradas y por este motivo resulta especialmente sana.<br><br>

									La mayoría de dietas de emergencia son efectivas en poco tiempo porque se basan en eliminación de líquidos. Es por ello que en muchos casos la pérdida de peso resulta efectiva para un par de días pero los resultados desaparecen al poco tiempo más.<br><br>
									Para que la pérdida de peso sea efectiva recuerda que deberás llevar un mantenimiento constante controlando tu alimentación y realizando menús sanos y equilibrados.

								</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

									<p><h4>INDICACIONES</h4></p>

									<p>Procura beber entre 1.5 y 2 litros de agua diarios. Eso te ayudará a depurar el organismo y a eliminar toxinas no deseadas.<br><br>
									Es importante que desayunes fuerte pero sin caer en la abundancia. Evita sentirte pesada a lo largo del día. Te sentirás más activa y en forma.</p>

									<p><h4>LUNES</h4>
										<p><h4>Desayuno:</h4> 

										<p>Un huevo cocido<br><br>
										Una rebanada de pan integral con jamón<br><br>
										Un vaso de leche desnatada.</p>

										<h4>Media mañana: </h4>

										<p>Una fruta</p>

										<p><h4>Almuerzo: </h4>

										<p>Un plato de sopa de verduras con una rebanada de pan integral y queso.</p>

										<p><h4>Media tarde: </h4>

										<p>Un yogurt desnatado.</p>

										<p><h4>Cena: </h4>

										<p>Salmón a la plancha acompañado d un puñadito de arroz integral con brócoli cocido.<br><br>
										Una manzana o pera natural o cocida.</p>

										<h4>MARTES</h4>
											<p><h4>Desayuno:</h4> 

										<p>Un vaso o taza de leche desnatada con cereales de salvado de avena<br><br>
										174gr. de fresas.</p>

										<h4>Media mañana: </h4>

										<p>Un yogurt desnatado.</p>

										<p><h4>Almuerzo: </h4>

										<p>Un sándwich de dos rebanadas de pan integral con atún, lechuga y tomate.</p>

										<p><h4>Media tarde: </h4>

										<p>Una fruta.</p>

										<p><h4>Cena: </h4>

										<p>Una pechuga de pollo sin piel a la plancha<br><br>
										Una ensalada de frutas.</p>

										<h4>MIÉRCOLES</h4>
											<p><h4>Desayuno:</h4> 

										<p>Infusión con edulcorante <br><br>
											Dos galletas totalmente integrales.</p>

										<h4>Media mañana: </h4>

										<p>Una tajada de melón</p>

										<p><h4>Almuerzo: </h4>

										<p>Un sándwich de tres rebanadas de pan integral con jamón<br><br>
										Una manzana.a</p>

										<p><h4>Media tarde: </h4>

										<p>Dos nueces<br><br>
										Dos higos secos<br><br>
										Un vaso de leche desnatada.</p>

										<p><h4>Cena: </h4>

										<p>Cinco tomates cherry con queso fresco sin grasa<br><br>
										Una tacita de arroz integral<br><br>
										Seis fresas.</p>

										<h4>JUEVES</h4>
											<p><h4>Desayuno:</h4> 

										<p>Un pomelo o una naranja<br><br>
										Un huevo cocido con una rebanada de pan integral<br><br>
										Un vaso de leche desnatada.</p>

										<h4>Media mañana: </h4>

										<p>Un zumo</p>

										<p><h4>Almuerzo: </h4>

										<p>Una taza de sopa de verduras<br><br>
										Una ensalada con tomate.</p>

										<p><h4>Media tarde: </h4>

										<p>Dos galletitas saladas con un trozo de queso suizo de poca grasa.</p>

										<p><h4>Cena: </h4>

										<p>Pechuga de pollo a la plancha acompañado de espinacas al vapor<br><br>
										Media taza de frambuesas.</p>

										<h4>VIERNES</h4>
											<p><h4>Desayuno:</h4> 

										<p>Un vaso de leche desnatada con dos tostadas de pan de salvado<br><br>
										Dos cucharadas pequeñas de queso desnatado para untar</p>

										<h4>Media mañana: </h4>

										<p>1 taza de café con leche descremada con edulcorante<br><br>
										2 tostadas de pan integral untadas con mermelada ligera</p>

										<p><h4>Almuerzo: </h4>

										<p>Un bistec a la plancha acompañado de una ensalada completa<br><br>
										Dos rebanadas de pan integral.</p>

										<p><h4>Media tarde: </h4>

										<p>Una tacita de queso desnatado con medio vaso de melón cortado a cubitos.</p>

										<p><h4>Cena: </h4>

										<p>Un trozo de salmón a la plancha con medio calabacín al horno<br><br>
										Una pera natural o cocida.</p>
									
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>