<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA FELICIDAD</h1>
					<strong class="subHeading">La dieta de la felicidad apenas requiere un sacrificio y permite comer de todo siguiendo un sencillo menú semanal durante 1 mes alcanzando a perder 7 kilos.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA FELICIDAD</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/soya.png" alt="" /></a>
									<p><h4>INDICACIONES</h4></p>

									<p>Permite adelgazar hasta 7 kilos en un mes.<br><br>
									Beber dos litros de agua diarios para ir eliminando toxinas.<br><br>
									Realizar algún tipo de ejercicio aeróbico.<br><br>
									Al ser un menú semanal puede llegar a resultar algo monótono.<br><br>
									Antes de iniciar cualquier dieta consultar con el médico.
									</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

									<p><h4>DÍA 1</h4>
										<p><h4>Desayuno:</h4> 

										<p>40 gr. de cereales integrales con leche desnatada</p>

										<h4>Media mañana: </h4>

										<p>1 pieza de fruta</p>

										<p><h4>Almuerzo: </h4>

										<p>Ensalada de arroz con lechuga, tomate, pimiento rojo y atún</p>

										<p><h4>Merienda: </h4>

										<p>1 yogur desnatado</p>

										<p><h4>Cena: </h4>

										<p>Sopa de verduras y pechuga de pollo a plancha (sin piel)</p>

										<h4>DÍA 2</h4>
											<p><h4>Desayuno:</h4> 

										<p>2 tostadas integrales con mermelada light y té o café con azúcar</p>

										<h4>Media mañana: </h4>

										<p>Zumo natural de fruta</p>

										<p><h4>Almuerzo: </h4>

										<p>Ensalada de pasta con lechuga, tomate, queso fresco y pollo cocido</p>

										<p><h4>Merienda: </h4>

										<p>1 yogur desnatado</p>

										<p><h4>Cena: </h4>

										<p>Espinacas hervidas con patatas y merluza al vapor</p>

										<h4>DÍA 3</h4>
											<p><h4>Desayuno:</h4> 

										<p>40 gr. de cereales con leche desnatada</p>

										<h4>Media mañana: </h4>

										<p>1 pieza de fruta, excepto el plátano</p>

										<p><h4>Almuerzo: </h4>

										<p>Arroz con mejillones, langostinos, pimiento verde y zanahoria</p>

										<p><h4>Merienda: </h4>

										<p>1 yogur natural</p>

										<p><h4>Cena: </h4>

										<p>Sopa de fideos con caldo de verduras y filete de pavo a la plancha</p>

										<h4>DÍA 4</h4>
											<p><h4>Desayuno:</h4> 

										<p>2 tostadas integrales con mermelada light y té o café con azúcar</p>

										<h4>Media mañana: </h4>

										<p>Zumo natural de fruta</p>

										<p><h4>Almuerzo: </h4>

										<p>Ensalada de patatas con tomate, pimiento verde y atún</p>

										<p><h4> Merienda: </h4>

										<p>1 yogur natural.</p>

										<p><h4>Cena: </h4>

										<p>Puré de zanahoria y 1 rodaja de merluza a la plancha</p>

										<h4>DÍA 5</h4>
											<p><h4>Desayuno:</h4> 

										<p>40 gr. de cereales integrales con leche desnatada</p>

										<h4>Media mañana: </h4>

										<p>1 pieza de fruta, excepto el plátano</p>

										<p><h4>Almuerzo: </h4>

										<p>Espaguetis con langostino y pavo cocido a la plancha</p>

										<p><h4> Merienda: </h4>

										<p>1 yogur desnatado</p>

										<p><h4>Cena: </h4>

										<p>Sopa de verduras y 1 tortilla francesa</p>

										<h4>DÍA 6</h4>
											<p><h4>Desayuno:</h4> 

										<p>2 tostadas integrales con mermelada light</p>

										<h4>Media mañana: </h4>

										<p>1 zumo de frutas natural si azúcar</p>

										<p><h4>Almuerzo: </h4>

										<p>Canelones de espinacas y pollo a la plancha (sin piel)</p>

										<p><h4> Merienda: </h4>

										<p>1 yogur desnatado</p>

										<p><h4>Cena: </h4>

										<p>Ensalada de tomate, cebolla, lechuga y huevo cocido</p>

										<h4>DÍA 7</h4>
											<p><h4>Desayuno:</h4> 

										<p>40 gr. de cereales integrales con leche desnatada</p>

										<h4>Media mañana: </h4>

										<p>1 pieza de fruta, excepto el plátano</p>

										<p><h4>Almuerzo: </h4>

										<p>Ensalada de patatas asadas con tomate, cebolla y queso fresco</p>

										<p><h4> Merienda: </h4>

										<p>1 yogur desnatado</p>

										<p><h4>Cena: </h4>

										<p>Ensalada de arroz con lechuga, zanahoria, tomate, pepino y pimiento verde</p>
									
								</div>
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>