<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA DE LA ALCACHOFA</h1>
					<strong class="subHeading">La variedad de alimentos a combinar con la alcachofa te sorprenderá. Utiliza tu imaginación y prepárate el plato que más te apetezca.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA DE LA ALCACHOFA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/7.jpg" alt="" /></a>
									<p>La alcachofa es un alimento diurético y rico en fibra que favorece la filtración de grasas y azúcares. Además, gracias a su capacidad depurativa, hepática y renal favorece las funciones del hígado en general. <br><br>

									Realiza un menú completo a base de alcachofas y benefíciate de todas sus propiedades. La variedad de alimentos a combinar con la alcachofa te sorprenderá. Utiliza tu imaginación y prepárate el plato que más te apetezca. A continuación te aconsejamos un conjunto de alimentos que te sentarán bien con ella: pimientos (crudos o hervidos), patatas, jamón serrano, foie gras, vinagreta, aceite de oliva virgen, zumo de naranja, leche desnatada, pan integral, manzana, arroz integral.<br><br>

									Esta dieta es ideal para realizar un par de veces al mes durante 3 días seguidos como mucho. Si el resto de días del mes realizas una alimentación sana y equilibrada notarás los efectos: entre 4 o 5 kilos menos en un mes.<br><br>

									Realizar esta dieta con mucha frecuencia y sin descansos adecuados puede provocar problemas derivados de la falta de calorías como la gastroenteritis, un malestar general, mareos, pérdida de cabellos, contracturas musculares, amenorrea en mujeres, insomnio, ansiedad, irritabilidad y depresión.<br><br>
									
									Esta dieta no es adecuada para mujeres embarazadas o que estén dando de mamar. Tampoco se recomienda a adolescentes ni personas que estén pasando por cualquier enfermedad o proceso depresivo.

								</p>
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

									<p><h4>INDICACIONES</h4>

										<p>Si te quedas con hambre puedes completar la dieta con un yogur al día, pequeñas cantidades de queso fresco y un poco de pan integral.<br><br>
										Procura beber dos litros de agua al día.<br><br>
										Realízala dieta durante un máximo de tres días. Después de ellos aumenta el consumo y la variedad de alimentos para equilibrar tu organismo.</p>

										<h4>PROPIEDADES Y BENEFICIOS </h4>

										<p>La alcachofa regula la cantidad de glucemia en la sangre por este motivo es muy indicado para diabéticos aunque se recomienda consultar primero con un especialista.<br><br>
										Actúa contra la celulitis y el embellecimiento de la piel.<br><br>
										Reduce el colesterol.<br><br>
										Es un alimento depurativo que contiene cinarina en abundancia, una sustancia que depura la sangre, favorece el metabolismo hepático y activa la producción de bilis.<br><br>
										Su baja cantidad de sodio la hace un alimento muy adecuado para equilibrar la presión sanguínea. Es muy recomendable para quiénes tienen la presión alta siempre que se tome sin agregar sal.</p>

										<p><h4>DIETA: </h4>

										<p>La dieta de la alcachofa no es una monodieta en la medida que permite mezclar la alcachofa con otro tipo de alimentos mientras se realiza la dieta. <br><br>

										La dieta que te proponemos a continuación te servirá para el menú de un día. El resto de días deberás seguir la misma pauta para los desayunos y las meriendas pudiendo modificar las comidas y las cenas a través de recetas ligeras cuyo alimento principal sea la alcachofa.</p>

										<p><h4>DESAYUNO: </h4>

										<p>Un zumo de naranja<br><br>
										Dos rebanadas de pan integral con crema de alcachofa</p>

									
										<p><h4>ALMUERZO:</h4>

										<p>Un plato de arroz integral con alcachofas<br><br>
										Una manzana</p>

										<h4>MERIENDA: </h4>

										<p>Un vaso de leche desnatada</p>

										<p><h4>CENA: </h4>

										<p>Tres o cuatro alcachofas a la plancha<br><br>
										Un corte de pan con queso fresco</p>
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>