<!DOCTYPE html>
<html>
<head>
	<title>Responsive HTML5/CSS3 template</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/default.css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="css/fixed-navigation.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/default.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body onload="initialize()">
	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
						<li><a href="#boxes"><span>Dieta</span></a></li>
						<li><a href="#testiomonialsTab"><span>Programa</span></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section id="boxes" class="row grey">
				<div class="center">
					<h1>DIETA EN PAREJA</h1>
					<strong class="subHeading">La dieta en pareja tiene una gran ventaja, y es que se adapta tanto a hombres como mujeres, realizando un sencillo régimen semanal basado en 4 comidas en el que puedes llegar a perder entre 1 a 3 kilos en dos semanas.</strong>
					<div class="columns">
						<article class="news oneThird">
							<div>
								<h3><a href="#">DIETA EN PAREJA</a></h3>
								<div class="content">
									<a href="#" class="imgHolder fullWidth"><img src="img/aguacate.jpg" alt="" /></a>
									<p><h4>INDICACIONES</h4>

										<p>El periodo de esta dieta es entre 1 y 2 semanas.<br><br>
										Se consigue adelgazar entre 1 a 3 kilos por semana.<br><br>
										El aporte calórico diario oscila entre las 1.200 calorías y 1.400 calorías.<br><br>

										Ideal para parejas que quieren adelgazar a la misma vez porque se adapta tanto a las mujeres como a los hombres.
									    </p>

								
								</div>
								<div class="readMore"><a href="http://idesigner.se/dietas-100/" class="btn btnSmall"><span>Nuestro Blogg</span></a></div>
							</div>
						</article>
					</div>
				</div>
			</section>
			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Programa</h1>
					<span><em> </em></span>
					</div>
					<div class="columns">
						<article class="news oneThird">
								<div class="content">

										<p><h4>DIETA: </h4>

										<p><h4>LUNES</h4></p>

										<p><h4>Desayuno:</h4></p>

										<p>Té o café con edulcorante o caldo magro de carne y 1 huevo crudo ó <br><br>100 gr. de fruta fresca cortada en trozos</p>

									
										<p><h4>Almuerzo:</h4></p>   

										<p>25 gr. de pasta hervida en caldo magro o arroz con caldo de verduras,<br><br> 200 gr. de carne de ternera a la plancha o pescado hervido, <br><br>200 gr. de legumbres hervidas o tomate con ensalada o calabaza al horno,<br><br> 30 gr. de grisines o<br><br> 40 gr. de pan y 200 gr. de peras, naranjas o manzanas cocidas con edulcorante o fruta cocida con vino</p>

										<p><h4>Cena:</h4></p>

										<p>100 gr. de sopa de verdura casera o caldo de carne, <br><br>130 gr. de carne de ternera a la plancha o hervida o pescado hervido,<br><br> 150 gr. de ensalada con aceite,<br><br> 20 gr. de grisines o <br><br>25 gr. de pan y<br><br> 200 gr. de manzanas</p>

										<p><h4>MARTES</h4></p>

										<p><h4>Desayuno:</h4></p>

										<p>1 taza de té con leche descremada, <br><br>20 gr. de pan integral y <br><br> 100 gr. de fruta fresca variada cortada en cubos</p>

									
										<p><h4>Almuerzo:</h4></p>

										<p>100 gr. de arroz hervido con salsa de tomate, <br><br>150 gr. de carne al horno o a la plancha, <br><br>100 gr. de peras y <br><br>40 gr. de pan integral</p>

										<p><h4>Merienda:</h4></p>

										<p>100 gr. de manzanas </p>

										<p><h4>Cena:</h4></p>

										<p>1 taza de leche, <br><br>100 gr. de naranjas o bananas y <br><br>40 gr. de galletitas o pan integral</p>

										<p><h4>MIÉRCOLES</h4></p>

										<p><h4>Desayuno:</h4></p>

										<p>1 taza de té fuerte,<br><br> 50 gr. de pan tostado y<br><br> 20 gr. de manteca</p>

									
										<p><h4>Almuerzo:</h4></p>

										<p>100 gr. de caldo de carne con un huevo, <br><br>50 gr. de pescado asado,<br><br> 100 gr. de verdura,<br><br> 100 gr. de fruta fresca y 1 vaso de vino blanco</p>
							
										<p><h4>Cena:</h4></p>

										<p>1 taza de té fuerte, <br><br>80 gr. de carne asada, <br><br>1 huevo poché y <br><br>30 gr. de pan</p>


										<p><h4>JUEVES</h4></p>

										<p><h4>Desayuno:</h4></p>

										<p>150 gr. de leche descremada, <br><br>200 gr. de manzanas y naranjas y<br><br> 20 gr. de queso magro</p>

									
										<p><h4>Almuerzo:</h4></p>

										<p>50 gr. de caldo con fideos, <br><br>120 gr. de croquetas de carne hervida,<br><br> 100 gr. de habas con vinagre y <br><br>40 gr. de pan integral</p>

										<p><h4>Merienda:</h4></p>

										<p>150 gr. de café con leche descremada</p>

										<p><h4>Cena:</h4></p>

										<p>120 gr. de carne hervida,<br><br> 100 gr. de ensalada, <br><br>100 gr. de ensalada de fruta fresca y <br><br>40 gr. de pan integral</p>


										<p><h4>VIERNES</h4></p>

										<p><h4>Desayuno:</h4></p>

										<p>1 taza de café con leche descremada,<br><br> 20 gr. de manteca y<br><br> 30 gr. de grisines o pan tostado.</p>
									
										<p><h4>Almuerzo:</h4></p>

										<p>1 taza de caldo de carne magra con 1 huevo, <br><br>150 gr. de carne o pescado magro, <br><br>200 gr. de verdura hervida, <br><br>200 gr. de fruta fresca y<br><br> 30 gr. de grisines o pan tostado</p>


										<p><h4>Cena:</h4></p>

										<p>1 taza de té,<br><br> 80 gr. de carne asada o de jamón magro,<br><br> 100 gr. de verdura hervida, <br><br>100 gr. de fruta fresca y <br><br>30 gr. de grisines o pan tostado</p>


										<p><h4>SÁBADO</h4></p>

										<p><h4>Desayuno:</h4></p>

										<p>Café o té con edulcorante o de caldo de carne desgrasado,<br><br> 1 huevo crudo o <br><br>100 gr. de fruta fresca</p>

									
										<p><h4>Almuerzo:</h4></p>

										<p>25 gr. de pollo con pasta o arroz con caldo vegetal o de sémola con caldo o de arroz con verdura, <br><br>250 gr. de ternera a la plancha o lenguado al horno, <br><br>40 gr. de queso tipo bola o grúyete, <br><br>200 gr. de legumbres hervidas, <br><br>30 gr. de grisines o <br><br>40 gr. de pan y <br><br>200 gr. de peras, naranjas o manzanas cocidas con edulcorante, al horno o fruta cocida con vino<br><br>
										</p>

										<p><h4>Merienda:</h4></p>

										<p>1 vaso de zumo de fruta</p>

										<p><h4>Cena:</h4></p>

										<p>30 gr. de caldo de sémola, <br><br>150 gr. de ternera a la plancha,<br><br> 200 gr. de ensalada con aceite,<br><br> 20 gr. de grisines o<br><br> 25 gr. de pan y<br><br> 200 gr. de manzanas</p>


										<p><h4>DOMINGO</h4></p>

										<p><h4>Desayuno:</h4></p>

										<p>1 taza de café con leche con un poco azúcar</p>
									
										<p><h4>Almuerzo:</h4></p>

										<p>20 gr. de carne roja a la plancha,<br><br> 100 gr. de verdura hervida,<br><br> 100 gr. de verdura cruda en ensalada,<br><br> 1 vaso de vino seco, <br><br>50 gr. de pan,<br><br> 100 gr. de fruta fresca y <br><br>1 taza de café con un poco de azúcar<br><br>
										</p>

										<p><h4>Cena:</h4></p>

										<p>100 gr. de verdura hervida, <br><br>200 gr. de pescado a la plancha o hervido o <br><br>150 gr. de carne a la plancha o <br><br>50 gr. de queso semi graso,<br><br> 30 gr. de pan negro, <br><br>150 gr. de fruta fresca y <br><br>1 taza de café con un poco de azúcar</p>

										
									</div>
								</article>
								</div>
								</section>
								
							
								<div class="buttons">
									<span><em> </em></span>
									<a href="https://twitter.com/IdesignerSe" class="btn btnBlue"><span>Agréganos en Twitter</span></a>
									<span><em> </em></span>
									<a href="https://www.facebook.com/AppDietas100" class="btn btnBlue"><span>Agréganos en Facebook</span></a>
									
								</div>
								
							</div>
					
					</div>
			
		
		<div>
		<footer id="footer">
			<div class="center"> <div style='text-align:center'>Creado por<span><em> </em></span><a href="http://idesigner.se">Idesigner.se</a></div>
			</div>
		</footer>
		</div>
</body>
</html>